{include file="moban/css"}
{include file="moban/js"}

<style>
    .layui-upload-img {width: 92px;height: 92px;}
</style>

<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">广告位</label>
        <div class="layui-input-block">
            <select name="adsense_id" lay-serach="">
                <option value="">请选择</option>
                {volist name='adsenseAll' id='vo'}
                <option value="{$vo['id']}">{$vo['title']}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">广告名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <input type="hidden" name="url" >
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>广告图
                </button>
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="demo" {if condition="$info['url']"} src="{$info['url']}?v=1.1"{/if} >
                <p id="demoText1"></p>
            </div>
            <div style="width: 95px;">
                <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
                    <div class="layui-progress-bar" lay-percent=""></div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <input type="hidden" name="preload_url" >
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="test2">
                    <i class="layui-icon">&#xe67c;</i>预加载图
                </button>
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="demo2" {if condition="$info['preload_url']"} src="{$info['preload_url']}?v=1.1"{/if} >
                <p id="demoText2"></p>
            </div>
            <div style="width: 95px;">
                <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo2">
                    <div class="layui-progress-bar" lay-percent=""></div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">外链</label>
        <div class="layui-input-block">
            <input type="text" name="link_url" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">展示时间</label>
            <div class="layui-input-inline">
                <input type="text" name="start_time" id="start_time" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <input type="text" name="end_time" id="end_time" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">关键词</label>
        <div class="layui-input-block">
            <input type="text" name="keyword" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="remark" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script>
    //Demo
    layui.use(['form','upload', 'element'], function () {
        var form = layui.form
            , upload = layui.upload
            , element = layui.element
            , laydate = layui.laydate;

        laydate.render({ elem: '#start_time' ,type: 'datetime' });
        laydate.render({ elem: '#end_time' ,type: 'datetime' });

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept='images';
        var upload_acceptMime='image/*';
        var upload_size=3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#demo1").attr('src', res.url);
                    $("input[name='url']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }

            }
            ,error: function(){
                //请求异常回调
            },progress: function(n, elem, res, index) {
                var percent = n + '%'
                element.progress('demo1', percent);
            }
        });

        upload.render({
            elem: '#test2'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#demo2").attr('src', res.url);
                    $("input[name='preload_url']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }

            }
            ,error: function(){
                //请求异常回调
            },progress: function(n, elem, res, index) {
                var percent = n + '%'
                element.progress('demo2', percent);
            }
        });


        form.val('first', {
            "adsense_id": "{$info['adsense_id']}",
            "title": "{$info['title']}",
            "url": "{$info['url']}",
            "preload_url": "{$info['preload_url']}",
            "link_url": "{$info['link_url']}",
            "start_time": "{$info['start_time']|date='Y-m-d H:i:s', ###}",
            "end_time": "{$info['end_time']|date='Y-m-d H:i:s', ###}",
            "keyword": "{$info['keyword']}",
            "remark": "{$info['remark']}",
        });



        form.on('submit(submit)', function (data) {
            var DISABLED = 'layui-btn-disabled';
            $(':button').addClass(DISABLED);
            $(':button').attr('disabled', 'disabled');
            Api.edit(data.field, function (res) {
                if(res.code != 200){
                    $(':button').removeClass(DISABLED);
                    $(':button').removeAttr('disabled');
                }
            });
        });


    });
</script>
