{include file="moban/bone_header"}

<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">添加</button>
</div>

<fieldset class="table-search-fieldset">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">广告名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="width:90px;">广告位</label>
                    <div class="layui-input-inline" >
                        <select name="adsense_id" lay-filter="ty" lay-search="" >
                            <option value="">请选择</option>
                            {volist name="AdsenseAll" id="vo"}
                            <option value="{$vo['id']}">{$vo['title']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="width:100px;">时间区间</label>
                    <div class="layui-input-inline" >
                        <input type="text" name="start_time" id="start_time"  class="layui-input" />
                    </div>
                    <div class="layui-input-inline" >
                        <input type="text" name="end_time" id="end_time"  class="layui-input" />
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="width:90px;">状态</label>
                    <div class="layui-input-inline" >
                        <select name="show_status" lay-filter="ty" lay-search="" >
                            <option value="">请选择</option>
                            <option value="1">未开始</option>
                            <option value="2">正常</option>
                            <option value="3">已结束</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="data-search-btn"><i class="layui-icon layui-icon-search"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>

<script>
    layui.use(['table', 'util', 'form', 'dropdown'], function(){
        var table = layui.table
            , util = layui.util
            , laydate = layui.laydate
            , form = layui.form
            , dropdown = layui.dropdown;

        laydate.render({ elem: '#start_time' ,type: 'datetime' });
        laydate.render({ elem: '#end_time' ,type: 'datetime' });

        UI.getPageTable(table, "{:url('')}", [
            {field: 'key', title: '', width:80, fixed: 'left'}
            ,{field: 'adsense_title', title: '广告位',width:170,templet:function(d){
                return d.adsense_title;
            }}
            ,{field: 'title', title: '广告名称',width:170}
            ,{field: 'attribute_title', title: '属性',width:90}
            ,{field: 'url', title: '广告图',width:100, templet: function(d){
                if(d.url){
                    return "<img src='"+d.url+"?v=1.1' width='30' height='30' />";
                }
                return '-';
            }}
            ,{field: 'preload_url', title: '预加载图',width:100, templet: function(d){
                if(d.preload_url){
                    return "<img src='"+d.preload_url+"?v=1.1' width='30' height='30' />";
                }
                return '-';
            }}
            ,{field: 'link_url', title: '外链',width:160}
            ,{field: 'start_time', title: '开始时间',width:170, align: 'center', sort: true, templet: function(d){
                if(d.start_time){
                    return util.toDateString(d.start_time*1000);
                }
                return '-';
            }}
            ,{field: 'end_time', title: '结束时间',width:170, align: 'center', sort: true,templet: function(d){
                if(d.end_time){
                    return util.toDateString(d.end_time*1000);
                }
                return '-';
            }}
            ,{field: 'keyword', title: '关键词',width:200}
            ,{field: 'remark', title: '备注',width:120}
            ,{field: 'show_status', title: '状态',width:80, templet(d){
                switch (d.show_status *1){
                    case 1: return '未开始';
                    case 2: return '正常';
                    case 3: return '已结束';
                    default: return '-';
                }
            }}
            ,{fixed: 'right',title:'操作',width:90, align:'center', toolbar: '#barDemo'}
        ], "#think-table", "auth");

        table.on('tool(think-table)', function(obj){
            var data=obj.data;
            if(obj.event==="more"){
                dropdown.render({
                    elem: this
                    , show: true
                    , data: [
                        {title:'编辑', id:'edit', templet: '<span class="layui-btn layui-btn-xs" > {{d.title}} </span> '}
                        , {title:'删除', id:'del', templet: '<span class="layui-btn layui-btn-danger layui-btn-xs" > {{d.title}} </span> '}
                        , {title:'查看', id:'see', templet: '<span class="layui-btn layui-btn-normal layui-btn-xs" > {{d.title}} </span> '}
                    ]
                    , click: function(menudata){
                        if(menudata.id === 'del'){
                            UI.delete(data['id'], function(res){
                                if(res.code==200){
                                    window.location.href="{:url('index')}";
                                }
                            });
                        }else if(menudata.id === 'edit'){
                            UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit', "{:lang('edit')}");
                        }else if(menudata.id === "see"){
                            layer.open({
                                type: 2
                                , anim: 2
                                , area: ['1150px', '650px']
                                , btn: ['关闭']
                                , title: "查看统计"
                                , yes: function (index, layero) { layer.close(index); }
                                , content: "{:url('see')}?id=" + data['id']
                                , end: function () {}
                            });
                        }
                    }
                })
                //
            }
        });

        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create')}", 750, 600, '#submit', "{:lang('create')}");
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('submit(data-search-btn)', function(data){
            table.reload('table', {
                // url: "{:url('')}",
                // method:'post',
                where : data.field,
                page : {curr : 1}
            });
            return false;
        })

    });
</script>
{include file="moban/bone_footer"}