{include file="moban/bone_header"}
<script src="/style/js/echarts.min.js?v=1.1"></script>

<fieldset class="layui-elem-field">
    <legend></legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-row layui-col-space1">
                    <div class="layui-col-md2">
                        <span>广告名称</span>
                        <div class="grid-demo grid-demo-bg1">
                            {$info['title']}
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <span>图片</span>
                        <div class="grid-demo">
                            <img src="{$info['url']}" height="50" width="100" />
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <span>上架时间区间</span>
                        <div class="grid-demo grid-demo-bg1">
                            {$info['start_time']|date='Y-m-d H:i:s', ###}
                        </div>
                        <div class="grid-demo grid-demo-bg1">
                            {$info['end_time']|date='Y-m-d H:i:s', ###}
                        </div>
                    </div>
                    <div class="layui-col-md2">
                        <span>跳转链接</span>
                        <div class="grid-demo">{$info['link_url']}</div>
                    </div>
                    <div class="layui-col-md2">
                        <span>状态</span>
                        <div class="grid-demo">{$info['start_time']|getAdvertShowStatus=###, $info['end_time']}</div>
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">时间区间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="stime" id="stime" value="{$dateDay8}" autocomplete="off" class="layui-input" >
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="etime" id="etime" value="{$dateDay1}" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<div id="main" style="width: auto;height:600px;margin-top:20px;"></div>

<script>
    layui.use(['table','form','laydate'], function(){
        var table = layui.table
            , form = layui.form
            , $ = layui.jquery
            , laydate = layui.laydate;

        laydate.render({elem: '#stime'});
        laydate.render({elem: '#etime'});

        var myChart = echarts.init(document.getElementById('main'))
            , _stime = $("input[name='stime']").val()
            , _etime = $("input[name='etime']").val();


        myChartBrr(_stime, _etime);

        form.on('submit(data-search-btn)', function(data){
            myChartBrr(data.field.stime, data.field.etime);
            return false;
        })

        function myChartBrr(stime, etime){
            $.ajax({
                url: "{:url('see')}"
                , cache : false
                , type: "POST"
                , dataType: "json"
                , data: {
                    stime: stime,
                    etime: etime,
                    advert_id: {$info['id']},
                }
                , success: function(obj){

                    var option = {
                        title: {text: '统计图'},
                        tooltip: {trigger: 'axis'},
                        legend: {
                            data: ['PV', 'UV', '图片曝光次数', '注册用户点击数']
                        },
                        grid: {left: '3%', right: '4%', bottom: '3%', containLabel: true},
                        toolbox: {feature: {saveAsImage: {title: '保存为图片'}}},
                        xAxis: {type: 'category',boundaryGap: false,
                            data: obj.xAxisData
                        },
                        yAxis: {type: 'value'},
                        series: [
                             {name:"PV", type: 'line', data: obj.click_pv}
                            , {name:"UV", type: 'line', data: obj.click_uv_ip}
                            , {name:"图片曝光次数", type: 'line', data: obj.show_cnt}
                            , {name:"注册用户点击数", type: 'line', data: obj.click_uv_uid}
                        ]
                    };

                    myChart.setOption(option);
                }
            })
        }

        myChart.on('click', function (params) {
            var _advertId = {$info['id']}
                , _ymd = params.name;
            layer.open({
                title: _ymd
                , type: 2
                , area: ['750px', '580px']
                , content: "{:url('advert_user')}?advert_id=" + _advertId + "&ymd=" + _ymd
                , btn: ['关闭']
                , function(index){
                    layer.clone(index)
                }
            });
        });







    });
</script>
{include file="moban/bone_footer"}