{include file="moban/css"}
{include file="moban/js"}

<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">投递者id</label>
        <div class="layui-input-block">
            <select name="uid" lay-verify="required" lay-search="">
                {volist name='user' id='vo'}
                <option value="{$vo['id']}">{$vo['username']}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">接收者id</label>
        <div class="layui-input-block">
            <select name="fuid" lay-verify="required" lay-search="">
                {volist name='user' id='vo'}
                <option value="{$vo['id']}">{$vo['username']}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">资源id</label>
        <div class="layui-input-block">
            <select name="rid" lay-verify="required" lay-search="">
                {volist name='resource' id='vo'}
                <option value="{$vo['id']}">{$vo['title']}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">跳转方式</label>
        <div class="layui-input-block">
            <input type="radio" name="type" value="1" title="投递名片" checked>
            <input type="radio" name="type" value="2" title="查看联系方式">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>


<script>
    //Demo
    layui.use(['form','upload'], function () {
        var form = layui.form,
            upload = layui.upload;

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept='images';
        var upload_acceptMime='image/*';
        var upload_size=3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#url").show();
                    $("#url img").attr('src', res.url);
                    $("input[name='url']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }

            }
            ,error: function(){
                //请求异常回调
            }
        });

        //监听提交
        form.on('submit(submit)', function (data) {
            // layer.msg(JSON.stringify(data.field));
            Api.add(data.field, function (res) {
                console.log(res);
            });
        });


    });
</script>
