{include file="moban/bone_header"}

<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">添加</button>
</div>

<fieldset class="table-search-fieldset">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="uname" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">方式</label>
                    <div class="layui-input-inline">
                        <select name="type">
                            <option value="">请选择</option>
                            <option value="1">投递名片</option>
                            <option value="2">查看联系方式</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">添加方式</label>
                    <div class="layui-input-inline">
                        <select name="type_status">
                            <option value="">请选择</option>
                            <option value="1">后台添加</option>
                            <option value="2">前台添加</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
layui.use(['table', 'form'], function(){
    var table = layui.table,
        form = layui.form;
    UI.getPageTable(table, "{:url('')}", [
        {field: 'id', title: 'ID', width:80, fixed: 'left'}
        ,{field: 'uname', title: '用户名称'}
        ,{field: 'title', title: '资源'}
        ,{field: 'u_username', title: 'uid/投递者',templet:function (d) {
            if(d.uid > 0) {
                return d.uid + '/' + d.u_username;
            } else {
                return '-';
            }
            }}
        ,{field: 'f_username', title: 'uid/接收者', templet:function (d) {
                if (d.fuid > 0) {
                    return d.fuid + '/' + d.f_username;
                } else {
                    return '-';
                }
            }}
        ,{field: 'username', title: '接收者名称'}
        ,{field: 'type', title: '方式',width:120,templet:function(d){
                switch (d['type']*1){
                    case 1:return '<span class="layui-border layui-btn-xs">投递名片</span>';break;
                    case 2:return '<span class="layui-border-green layui-btn-xs">查看联系方式</span>';break;
                    default: return '-';
                }
            }}
        ,{field: 'time', title: '动态时间', width:170, templet: function(d){
                if(d.time > 10000) {
                    return "<div>" + layui.util.toDateString(d.time * 1000, 'yyyy-MM-dd HH:mm:ss') + "</div>";
                }
                return '-';
            }}
        ,{field: 'type_status', title: '添加方式',width:100, templet:function(d){
                switch (d['type_status']*1){
                    case 1:return '<span class="layui-border-blue layui-btn-xs">后台添加</span>';break;
                    case 2:return '<span class="layui-border-orange layui-btn-xs">前台添加</span>';break;
                }
            }}
        ,{field: 'remarks', title: '备注'}
        ,{fixed: 'right',title:'操作',width:120, align:'center', toolbar: '#barDemo'}
    ]);

    table.on('tool(think-table)', function(obj){
        var data=obj.data;
        if(obj.event==="edit"){
            UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit');
        }else if(obj.event==='del'){
            UI.delete(data['id'], function(res){
                if(res.code==200){
                    table.reload("table");
                }
            });
        }
    });

    var $ = layui.$, active = {
        create:function(){
            UI.openLayer("{:url('create')}");
        }
    };

    $('.layui-btn-container .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

    form.on('submit(data-search-btn)', function(data){
        table.reload('table', {
            url: "{:url('')}",
            method:'post',
            where : data.field,
            page : {curr : 1}

        });
        return false;
    })

});
</script>
{include file="moban/bone_footer"}