{include file="moban/css"}
{include file="moban/js"}
<style>
.layui-upload-img {width: 92px;height: 92px;}
</style>

<form class="layui-form " lay-filter="first" style="padding: 10px 30px 0 0;">
    <input type="hidden" name="subject_id" value="{$sid}" >


    <div class="layui-form-item">
        <label class="layui-form-label">图标标题</label>
        <div class="layui-input-block" >
            <input type="text" name="icon_title" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-block" >
                <input type="hidden" name="icon_url" >
                <button type="button" class="layui-btn" id="test2" ><i class="layui-icon">&#xe67c;</i>上传</button>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="demo2">
                <p id="demoText2"></p>
            </div>
            <div style="width: 95px;">
                <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo2">
                    <div class="layui-progress-bar" lay-percent=""></div>
                </div>
            </div>
        </div>


    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">板块标题</label>
        <div class="layui-input-block" >
            <input type="text" name="plate_title" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">板块副标题</label>
        <div class="layui-input-block" >
            <input type="text" name="plate_subtitle" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">点击咨询</label>
        <div class="layui-input-block" >
            <select name="more_link_url" lay-search="">
                <option value="">请选择</option>
                {volist name="configAll" id="vo"}
                <option value="{$vo['id']}">{$vo['remarks']}</option>
                {/volist}
            </select>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
        <label class="layui-form-label">顾问图片</label>
        <div class="layui-input-block" >
            <input type="hidden" name="counselor_img_url" >
            <button type="button" class="layui-btn" id="test1" ><i class="layui-icon">&#xe67c;</i>上传</button>
        </div>
        </div>
        <div class="layui-inline" >
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="demo1">
                <p id="demoText"></p>
            </div>
            <div style="width: 95px;">
                <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
                    <div class="layui-progress-bar" lay-percent=""></div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">查看更多</label>
        <div class="layui-input-block" >
            <input type="text" name="counselor_link" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script>
layui.use(['form','upload'], function () {
    var form = layui.form
        ,element = layui.element
        ,upload = layui.upload;

    var upload_url = "{:url('admin/Upload/upload')}";
    var upload_accept='images';
    var upload_acceptMime='image/*';
    var upload_size=3145728;
    var uploadInst = upload.render({
        elem: '#test1'
        ,url: upload_url
        ,accept: upload_accept
        ,acceptMime:upload_acceptMime
        ,size: upload_size
        ,done: function(res){
            if(res.code == 0) {
                $("#demo1").attr('src', res.url);
                $("input[name='counselor_img_url']").val(res.url);
            } else {
                layui.msg('网络问题稍后再试');
            }
        }
        ,error: function(){}
        ,progress: function(n, elem, e){
            element.progress('demo', n + '%');
            if(n == 100){
                layer.msg('上传完毕', {icon: 1});
            }
        }
    });

    upload.render({
        elem: '#test2'
        ,url: upload_url
        ,accept: upload_accept
        ,acceptMime:upload_acceptMime
        ,size: upload_size
        ,done: function(res){
            if(res.code == 0) {
                $("#demo2").attr('src', res.url);
                $("input[name='icon_url']").val(res.url);
            } else {
                layui.msg('网络问题稍后再试');
            }
        }
        ,error: function(){}
        ,progress: function(n, elem, e){
            element.progress('demo2', n + '%');
            if(n == 100){
                layer.msg('上传完毕', {icon: 1});
            }
        }
    });

    //监听提交
    form.on('submit(submit)', function (data) {
        var DISABLED = 'layui-btn-disabled';
        $(':button').addClass(DISABLED);
        $(':button').attr('disabled', 'disabled');
        Api.add(data.field, function (res) {
            if(res.code != 200){
                $(':button').removeClass(DISABLED);
                $(':button').removeAttr('disabled');
            }
        });
    });





});
</script>
