{include file="moban/css"}
{include file="moban/js"}

<form class="layui-form layui-form-pane" lay-filter="first" style="padding: 10px 30px 0 0;">

    <input type="hidden" name="subject_id" value="{$sid}" >

    <div class="layui-form-item">
        <label class="layui-form-label">板块类型</label>
        <div class="layui-input-block" >
            <input type="radio" name="type" value="0" title="专题业务动态" checked />
            <input type="radio" name="type" value="1" title="专区自定义模版" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图标标题</label>
        <div class="layui-input-block" >
            <input type="text" name="icon_title" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图标地址</label>
        <div class="layui-input-block" >
            <input type="hidden" name="icon_url" >
            <button type="button" class="layui-btn" ><i class="layui-icon">&#xe67c;</i>上传</button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">板块标题</label>
        <div class="layui-input-block" >
            <input type="text" name="plate_title" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">板块副标题</label>
        <div class="layui-input-block" >
            <input type="text" name="plate_subtitle" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">查看更多</label>
        <div class="layui-input-block" >
            <input type="text" name="more_link_url" class="layui-input" value="{$info['more_link_url']}" />
            <div class="layui-form-mid layui-word-aux">查看更多链接地址</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">顾问图片</label>
        <div class="layui-input-block" >
            <input type="hidden" name="counselor_img_url" >
            <button type="button" class="layui-btn" ><i class="layui-icon">&#xe67c;</i>上传</button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">顾问链接</label>
        <div class="layui-input-block" >
            <input type="text" name="counselor_link" class="layui-input" value="{$info['counselor_link']}" />
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script>
//Demo
layui.use(['form','upload'], function () {
    var form = layui.form,
        upload = layui.upload;

    var upload_url = "{:url('admin/Upload/upload')}";
    var upload_accept = 'images';
    var upload_acceptMime = 'image/*';
    var upload_size = 3145728;
    var uploadInst = upload.render({
        elem: '#test1'
        ,url: upload_url
        ,accept: upload_accept
        ,acceptMime:upload_acceptMime
        ,size: upload_size
        ,done: function(res){
            if(res.code == 0) {
                $("#image_url").show();
                $("#image_url img").attr('src', res.url);
                $("input[name='image_url']").val(res.url);
            } else {
                layui.msg('网络问题稍后再试');
            }

        }
        ,error: function(){
            //请求异常回调
        }
    });

    //监听提交
    form.on('submit(submit)', function (data) {
        Api.edit(data.field, function (res) {
            console.log(res);
        });
    });





});
</script>
