{include file="moban/bone_header"}

<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">添加</button>
</div>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down">
</script>

<script>
layui.use(['table','dropdown'], function(){
    var table = layui.table
        ,dropdown = layui.dropdown;

    UI.getPageTable(table, "{:url('', ['sid'=>$sid])}", [
        {field: 'key', title: '', width:80, fixed: 'left'}
        ,{field: 'type', title: '类型', width:140,templet:function(d){
            switch (d.type*1) {
                {volist name="type" id='vo'}
                case {$vo['id']}: return "{$vo['title']}";
                {/volist}
                default:
                    return '-';
            }
        }}
        ,{field: 'plate_title', title: '版块标题', width:120,}
        ,{field: 'plate_subtitle', title: '版块副标题', width:120,}
        ,{field: 'icon_title', title: '图标标题', width:120,}
        ,{field: 'icon_url', title: '图标', width:80,templet: function (d) {
            if(d.icon_url){
                return "<img src='"+d.icon_url +"?v=1.1' height=30 width=30 />";
            }
            return '-';
        }}
        ,{fixed: 'right',title:'操作', width:120, align:'center', toolbar: '#barDemo'}
    ]);

    table.on('tool(think-table)', function(obj){
        var data = obj.data;
        if(obj.event==="more"){
            dropdown.render({
                elem: this
                ,show: true
                , data: [
                    {title:"{:lang('edit')}", id:'edit',templet:"<span class='layui-btn layui-btn-xs'>{{d.title}}</span>"}
                    ,{title:"{:lang('delete')}", id:'del',templet:"<span class='layui-btn layui-btn-danger layui-btn-xs'>{{d.title}}</span>"}
                    ,{title:"板块资源", id:'resource',templet:"<span class='layui-btn layui-btn-normal layui-btn-xs'>{{d.title}}</span>"}
                ]
                ,click: function(menudata){
                    if(menudata.id === 'del'){
                        UI.delete(data['id'], function(res){
                            if(res.code==200){
                                table.reload("table");
                            }
                        });
                    } else if(menudata.id === 'resource'){
                        UI.openLayer("{:url('plate_resource')}?pid="+data['id'], 650, 350, '#submit', "板块资源");
                    } else if(menudata.id === 'edit'){
                        UI.openLayer("{:url('edit_plate')}?id="+data['id'], 650, 450, '#submit', "{:lang('edit')}");
                    }
                }
            })
        }
    });

    var $ = layui.$, active = {
        create:function(){
            UI.openLayer("{:url('create_plate', ['sid'=>$sid])}", 650, 350, '#submit', "{:lang('create')}");
        }
    };

    $('.layui-btn-container .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

});
</script>
{include file="moban/bone_footer"}