{include file="moban/css"}
{include file="moban/js"}

<form class="layui-form layui-form-pane" lay-filter="first" style="padding: 10px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">模版名称</label>
        <div class="layui-input-inline" >
            <input type="text" name="group_title" class="layui-input" value="{$info['title']}" />
        </div>
    </div>


    <div id="list">
    {volist name="data" id="vo" key="k"}
        <div class="list">
            <input type="hidden" name="qid[{$k}]" value="{$vo['id']}" >
            <fieldset class="layui-elem-field layui-field-title" style="background-color:#1E9FFF;height:1px;" ></fieldset>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">问题</label>
                    <div class="layui-input-block" style="width:600px;" >
                        <input type="text" name="question[{$k}]" lay-verify="required" placeholder="请输入" class="layui-input" value="{$vo['question']}" />
                    </div>
                </div>
                <div class="layui-inline">
                    <span class="layui-btn layui-btn-danger layui-btn-sm DeleteList">删除</span>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">答案</label>
                <div class="layui-input-block" style="width:600px;" >
                    <textarea type="text" name="answer[{$k}]" lay-verify="required" placeholder="请输入" class="layui-textarea" >{$vo['answer']}</textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline" >
                    <input type="text" name="sort[{$k}]" class="layui-input" value="{$vo['sort']}" />
                </div>
                <div class="layui-form-mid layui-word-aux">数字越大，展示越靠前</div>
            </div>
        </div>
    {/volist}
    </div>


    <div class="layui-form-item" style="text-align:center;">
        <span class="layui-btn layui-btn-normal layui-btn-sm" id="add" style="width:200px;line-height:40px;height:40px;">添加</span>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script>
    //Demo
    layui.use(['form'], function () {
        var form = layui.form;

        //监听提交
        form.on('submit(submit)', function (data) {
            var DISABLED = 'layui-btn-disabled';
            $(':button').addClass(DISABLED);
            $(':button').attr('disabled', 'disabled');
            Api.add(data.field, function (res) {
                if(res.code !== 200){
                    layer.msg(res.msg, function(){
                        $(':button').removeClass(DISABLED);
                        $(':button').removeAttr('disabled');
                    })
                }
            });
        });
        var _keyCount = "{$data|count}"*1+1;


        $("#add").on("click", function(){
            var _html = "<div class=\"list\">\n" +
                "<input type=\"hidden\" name=\"qid[" + _keyCount + "]\" value=\"0\" >"+
                "    <fieldset class=\"layui-elem-field layui-field-title\" style=\"background-color:#1E9FFF;height:1px;\"></fieldset>\n" +
                "    <div class=\"layui-form-item\">\n" +
                "        <div class=\"layui-inline\">\n" +
                "            <label class=\"layui-form-label\">问题</label>\n" +
                "            <div class=\"layui-input-block\" style=\"width:600px;\" >\n" +
                "                <input type=\"text\" name=\"question["+_keyCount+"]\" lay-verify=\"required\" placeholder=\"请输入\" class=\"layui-input\" />\n" +
                "            </div>\n" +
                "        </div>\n" +
                "        <div class=\"layui-inline\">\n" +
                "            <span class=\"layui-btn layui-btn-danger layui-btn-sm DeleteList\">删除</span>\n" +
                "        </div>\n" +
                "    </div>\n" +
                "\n" +
                "    <div class=\"layui-form-item\">\n" +
                "        <label class=\"layui-form-label\">答案</label>\n" +
                "        <div class=\"layui-input-block\" style=\"width:600px;\" >\n" +
                "            <textarea type=\"text\" name=\"answer["+_keyCount+"]\" lay-verify=\"required\" placeholder=\"请输入\" class=\"layui-textarea\" ></textarea> \n" +
                "        </div>\n" +
                "    </div>\n" +
                "    <div class=\"layui-form-item\">\n" +
                "        <label class=\"layui-form-label\">排序</label>\n" +
                "        <div class=\"layui-input-inline\" >\n" +
                "            <input type=\"text\" name=\"sort["+_keyCount+"]\" class=\"layui-input\" />\n" +
                "        </div>\n" +
                "    </div>\n" +
                "    </div>";
            _keyCount++;
            $("#list").append(_html)
            return false;
        })

        $("form").on("click", ".DeleteList", function(){
            var _this = $(this);
            _this.parent().parent().parent('.list').remove();
        })


    });
</script>
