{include file="moban/css"}
{include file="moban/js"}

<form class="layui-form layui-form-pane" lay-filter="first" style="padding: 10px 30px 0 0;">
    <input type="hidden" name="subject_id" value="{$sid}" />

    <div class="layui-form-item">
        <input type="hidden" name="img_url" >
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">链接</label>
        <div class="layui-input-block" >
            <input type="text" name="link_url" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script>
    layui.use(['form','upload'], function () {
        var form = layui.form,
            upload = layui.upload;

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept = 'images';
        var upload_acceptMime = 'image/*';
        var upload_size = 3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#image_url img").attr('src', res.url);
                    $("input[name='img_url']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }

            }
            ,error: function(){
                //请求异常回调
            }
        });

        //监听提交
        form.on('submit(submit)', function (data) {
            Api.add(data.field, function (res) {
                console.log(res);
            });
        });

    });
</script>
