{include file="moban/css"}
{include file="moban/js"}

<form class="layui-form" lay-filter="first" style="padding: 10px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">专题名称</label>
        <div class="layui-input-block" >
            <input type="text" name="title" lay-verify="required" class="layui-input" value="{$info['title']}" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">专题类型</label>
        <div class="layui-input-block" >
            {volist name="type" id="vo" key="k"}
            <input type="radio" name="type" value="{$vo['id']}" title="{$vo['title']}" disabled />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">SEO URL</label>
        <div class="layui-input-block" >
            <input type="text" name="seo_url" lay-verify="required" lay-reqText="SEO URL 不能为空" class="layui-input" value="{$info['seo_url']}" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">SEO标题</label>
        <div class="layui-input-block" >
            <input type="text" name="seo_title" lay-verify="required" lay-reqText="SEO标题 不能为空" class="layui-input" value="{$info['seo_title']}" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">SEO关键词</label>
        <div class="layui-input-block" >
            <input type="text" name="seo_keywords" lay-verify="required" lay-reqText="SEO关键词 不能为空" class="layui-input" value="{$info['seo_keywords']}" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">SEO描述</label>
        <div class="layui-input-block" >
            <input type="text" name="seo_description" lay-verify="required" lay-reqText="SEO描述 不能为空" class="layui-input" value="{$info['seo_description']}" />
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline" >
            <input type="text" name="sort" class="layui-input" value="{$info['sort']}" />
        </div>
        <div class="layui-form-mid layui-word-aux">数字越大越靠前</div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script>
    layui.use(['form','upload'], function () {
        var form = layui.form,
            upload = layui.upload;

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept = 'images';
        var upload_acceptMime = 'image/*';
        var upload_size = 3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#image_url img").attr('src', res.url);
                    $("input[name='img_url']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }

            }
            ,error: function(){
                //请求异常回调
            }
        });

        form.val("first",{
            "type": "{$info['type']}",
            "home_show": "{$info['home_show']}",
            "sort": "{$info['sort']}",
        })

        //监听提交
        form.on('submit(submit)', function (data) {
            var DISABLED = 'layui-btn-disabled';
            $(':button').addClass(DISABLED);
            $(':button').attr('disabled', 'disabled');
            Api.edit(data.field, function (res) {
                if(res.code != 200){
                    $(':button').removeClass(DISABLED);
                    $(':button').removeAttr('disabled');
                }
                layer.msg(res.msg);
            });
        });

    });
</script>
