{include file="moban/bone_header"}

<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">添加</button>
</div>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function(){
        var table = layui.table;
        UI.getPageTable(table, "{:url('')}", [
            {field: 'key', title: '', width:80, fixed: 'left'}
            ,{field: 'title', title: '标题', width:300,}
            ,{field: 'cou', title: '数量', width:70,}
            ,{fixed: 'right',title:'操作', width:120, align:'center', toolbar: '#barDemo'}
        ], "#think-table", "auth");

        table.on('tool(think-table)', function(obj){
            var data=obj.data;
            if(obj.event==="edit"){
                UI.openLayer("{:url('edit')}?id="+data['id'], 850, 600, '#submit');
            }else if(obj.event==='del'){
                UI.delete(data['id'], function(res){
                    if(res.code==200){
                        table.reload("table");
                    }
                });
            }
        });

        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create')}", 850, 700);
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
{include file="moban/bone_footer"}