{include file="moban/bone_header"}

<div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" data-type="create">{:lang('create')}</button>
</div>

<fieldset class="table-search-fieldset">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">专题名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="width:60px;">展示</label>
                    <div class="layui-input-inline" style="width:90px;">
                        <select name="type" lay-filter="ty" lay-search="" >
                            <option value="">请选择</option>
                            <option value="0">专题</option>
                            <option value="1">专区</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="width:100px;">首页展示</label>
                    <div class="layui-input-inline" style="width:90px;">
                        <select name="home_show" lay-filter="ty" lay-search="" >
                            <option value="">请选择</option>
                            <option value="0">隐藏</option>
                            <option value="1">显示</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="width:60px;">展示</label>
                    <div class="layui-input-inline" style="width:90px;">
                        <select name="show_status" lay-filter="ty" lay-search="" >
                            <option value="">请选择</option>
                            <option value="0">下架</option>
                            <option value="1">上架</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>


<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <span class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</span>
    <span class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</span>
</script>

<script type="text/html" id="show_status">
    <input type="checkbox" name="show_status" value="{{d.id}}" lay-skin="switch" lay-text="上架|下架" lay-filter="show_status" {{ d.show_status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="home_show">
    <input type="checkbox" name="home_show" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="home_show" {{ d.home_show == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="span">
    <span class="layui-btn layui-btn-xs" lay-event="banner">banner</span>
    <span class="layui-btn layui-btn-xs" lay-event="plate">资源版块</span>
    <span class="layui-btn layui-btn-xs" lay-event="zixun">文章资讯</span>
    <span class="layui-btn layui-btn-xs" lay-event="subject_category">优选分类</span>
    <span class="layui-btn layui-btn-xs" lay-event="question">入驻须知</span>
    <span class="layui-btn layui-btn-xs" lay-event="advert">广告</span>

</script>

<script>
    layui.use(['table','dropdown','form'], function(){
        var table = layui.table
            , form = layui.form
            , dropdown = layui.dropdown;

        UI.getPageTable(table, "{:url('')}", [
            {field: 'key', title: '', width:80, fixed: 'left'}
            ,{field: 'title', title: '专题名称', width:140}
            ,{field: 'type', title: '专题分类', width:90, templet:function(d){
                switch (d.type * 1){
                    {volist name="type" id="vo"}
                    case {$vo['id']}: return "{$vo['title']}";
                    {/volist}
                    default:
                        return '-';
                }
            }}
            ,{field: 'right',title:'操作', width:160, align:'center', toolbar: '#barDemo'}
            ,{field: 'span', title: '基本信息', width:430,templet: '#span'}
            ,{field: 'home_show', title: '首页展示', width:110,templet: '#home_show', sort: true}
            ,{field: 'show_status', title: '展示', width:100,templet: '#show_status', sort: true}
            ,{field: 'sort', title: '排序', width:80, sort: true}
            ,{field: 'create_time', title: '创建时间', width:170}

        ], "#think-table", "auth");

        table.on('tool(think-table)', function(obj){
            var data = obj.data
                , _title = "[" + data.title + "]";

            if(obj.event==='del'){
                UI.delete(data['id'], function(res){
                    if(res.code==200){
                        table.reload("table");
                    }
                });
            }else if(obj.event==='content'){
                // 内容
                UI.openLayer("{:url('content')}?sid="+data['id'], 850, 730, '#submit', _title);
            }else if(obj.event==='article'){
                // 文章
                UI.openLayer("{:url('article')}?sid="+data['id'], 850, 730, '#submit', _title);
            }else if(obj.event==='plate'){
                if(data.type == 0){
                    UI.openLayer("{:url('plate')}?sid="+data['id'], 650, 400, '#submit', _title);
                }else if(data.type == 1){
                    layer.open({
                        type: 2
                        , anim: 2
                        , area: ['1150px', '650px']
                        , btn: ['关闭']
                        , title: _title
                        , yes: function (index, layero) { layer.close(index); }
                        , content: "{:url('plate')}?sid="+data['id']
                        , end: function () {}
                    });
                }


            }else if(obj.event==='advert'){
                layer.open({
                    type: 2
                    , anim: 2
                    , area: ['1150px', '650px']
                    , btn: ['关闭']
                    , title: _title
                    , yes: function (index, layero) { layer.close(index); }
                    , content: "{:url('subject_advertisement')}?sid=" + data['id']
                    , end: function () {}
                });
            }else if(obj.event==='banner'){
                layer.open({
                    type: 2
                    , anim: 2
                    , area: ['1150px', '650px']
                    , btn: ['关闭']
                    , title: _title
                    , yes: function (index, layero) { layer.close(index); }
                    , content: "{:url('banner')}?sid=" + data['id']
                    , end: function () { }
                });
            }else if(obj.event==='zixun'){
                UI.openLayer("{:url('subject_content')}?sid="+data['id'], 850, 400, '#submit', _title);
            }else if(obj.event==='subject_category'){
                layer.open({
                    type: 2
                    , anim: 2
                    , area: ['1150px', '650px']
                    , title: _title
                    , btn: ['关闭']
                    , yes: function (index, layero) { layer.close(index); }
                    , content: "{:url('subject_category')}?sid=" + data['id']
                    , end: function () { }
                });
            }else if(obj.event==='question'){
                UI.openLayer("{:url('question')}?sid="+data['id'], 850, 730, '#submit', _title);
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    UI.delete(data['id'], function(res){
                        if(res.code==200){
                            table.reload("table");
                        }
                    });
                    //     obj.del(); //删除对应行（tr）的DOM结构
                    //     layer.close(index);
                    //     //向服务端发送删除指令
                });
            } else if(obj.event === 'edit'){
                UI.openLayer("{:url('edit')}?id="+data['id'], 850, 550, '#submit', "编辑");
            }
        });

        var $ = layui.$, active = {
            create: function () {
                UI.openLayer("{:url('create')}", 850, 550, '#submit', "{:lang('create')}");
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('switch(home_show)', function(obj){
            var _check = obj.elem.checked == true ? 1 : 0
                , _contexts
                , _swt = $(obj.elem)
                , _this = this;

            if(obj.elem.checked == true){
                _contexts = "你确定要显示吗";
            }else {
                _contexts = "你确定要隐藏吗";
            }

            layer.open({
                content: _contexts
                , btn: ['确定', '取消']
                , yes: function(index, layer0){
                    $.post("{:url('set_value')}", {
                        id: _this.value,
                        name: _this.name,
                        value: _check
                    }, function (objPost) {
                            if(objPost.code == 200){
                                _swt.prop('checked', obj.elem.checked);
                                form.render();
                                layer.close(index)
                            }else{
                                _swt.prop('checked', !obj.elem.checked);
                            }
                            layer.msg(objPost.msg);
                            form.render();
                        }, 'json');

                }
                , btn2: function(index, layer0) {
                    _swt.prop('checked', !obj.elem.checked);
                    form.render();
                }
                , cancel: function() {
                    layer.close();
                    form.render();
                }
            })
            return false;
        });

        form.on('switch(show_status)', function(obj){
            var _check = obj.elem.checked == true ? 1 : 0
                , _contexts
                , _swt = $(obj.elem)
                , _this = this;

            if(obj.elem.checked == true){
                _contexts = "你确定要上架吗";
            }else {
                _contexts = "你确定要下架吗";
            }

            layer.open({
                content: _contexts
                , btn: ['确定', '取消']
                , yes: function (index, layer0) {
                    $.post("{:url('set_value')}", {
                        id: _this.value,
                        name: _this.name,
                        value: _check
                    }, function (objPost) {
                        if(objPost.code == 200){
                            _swt.prop('checked', obj.elem.checked);
                            layer.close(index)
                        }else{
                            _swt.prop('checked', !obj.elem.checked);
                        }
                        layer.msg(objPost.msg);
                        form.render();
                    }, 'json');
                }
                , btn2: function (index, layer0) {
                    _swt.prop('checked', !obj.elem.checked);
                    form.render();
                }
                , cancel: function () {
                    layer.close();
                    form.render();
                }
            });
        });

        form.on('submit(data-search-btn)', function(data){
            table.reload('table', {
                url: "{:url('')}",
                method:'post',
                where : data.field,
                page : {curr : 1}
            });
            return false;
        })

    });
</script>
{include file="moban/bone_footer"}