{include file="moban/bone_header"}

<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">添加</button>
</div>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
<!--    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>

<script type="text/html" id="img_url">
{{# if(d.img_url){ }}
    <img src="{{d.img_url}}" width="100" height="30" />
{{# } }}
</script>

<script type="text/html" id="span">
    <span class="layui-btn layui-btn-xs" lay-event="plate">版块</span>
    <span class="layui-btn layui-btn-xs" lay-event="banner">banner</span>
    <span class="layui-btn layui-btn-xs" lay-event="zixun">文章资讯</span>
    <span class="layui-btn layui-btn-xs" lay-event="question">入驻须知</span>
    <span class="layui-btn layui-btn-xs" lay-event="advert">广告</span>
    <span class="layui-btn layui-btn-xs" lay-event="subject_category">优选分类</span>
<!--    <span class="layui-btn layui-btn-xs" lay-event="content">内容</span>-->
<!--    <span class="layui-btn layui-btn-xs" lay-event="article">文章</span>-->
</script>

<script>
    layui.use(['table','dropdown'], function(){
        var table = layui.table
            ,dropdown = layui.dropdown;

        UI.getPageTable(table, "{:url('')}", [
            {field: 'key', title: '', width:80, fixed: 'left'}
            ,{field: 'title', title: '标题', width:300}
            ,{field: 'img_url', title: '图片', width:110,templet: '#img_url'}
            ,{field: 'span', title: '', width:500,templet: '#span'}
            ,{fixed: 'right',title:'操作', width:120, align:'center', toolbar: '#barDemo'}
        ], "#think-table", "auth");

        table.on('tool(think-table)', function(obj){
            var data = obj.data;
            if(obj.event==="edit"){
                UI.openLayer("{:url('edit')}?id="+data['id'], 850, 730, '#submit');
            }else if(obj.event==='del'){
                UI.delete(data['id'], function(res){
                    if(res.code==200){
                        table.reload("table");
                    }
                });
            }else if(obj.event==='content'){
                // 内容
                UI.openLayer("{:url('content')}?sid="+data['id'], 850, 730, '#submit');
            }else if(obj.event==='article'){
                // 文章
                UI.openLayer("{:url('article')}?sid="+data['id'], 850, 730, '#submit');
            }else if(obj.event==='plate'){
                UI.openLayer("{:url('plate')}?sid="+data['id'], 850, 730, '#submit');
            }else if(obj.event==='advert'){
                layer.open({
                    type: 2,
                    anim: 2,
                    area: ['1150px', '650px'],
                    btn: ['关闭'],
                    yes: function (index, layero) {
                        layer.close(index);
                    },
                    content: "{:url('subject_advertisement')}?sid="+data['id']
                    ,end: function () {}
                });
            }else if(obj.event==='banner'){
                layer.open({
                    type: 2,
                    anim: 2,
                    area: ['1150px', '650px'],
                    btn: ['关闭'],
                    yes: function (index, layero) {
                        layer.close(index);
                    },
                    content: "{:url('banner')}?sid="+data['id']
                    ,end: function () {}
                });
            }else if(obj.event==='zixun'){
                UI.openLayer("{:url('subject_content')}?sid="+data['id'], 850, 400, '#submit', "专题资讯列表");
            }else if(obj.event==='subject_category'){
                UI.openLayer("{:url('subject_category')}?sid="+data['id'], 850, 700, '#submit', "优选分类列表");
            }else if(obj.event==='question'){
                UI.openLayer("{:url('question')}?sid="+data['id'], 850, 730, '#submit');
            } else if(obj.event === 'more'){
                dropdown.render({
                    elem: this //触发事件的 DOM 对象
                    ,show: true //外部事件触发即显示
                    ,data: [{
                        title: '编辑'
                        ,id: 'edit'
                        ,templet: '<span class="layui-btn layui-btn-xs layui-btn-warm"><i class="layui-icon layui-icon-edit"></i>{{d.title}}</span> '
                    },{
                        title: '删除'
                        ,id: 'del'
                        ,templet: '<span class="layui-btn layui-btn-xs layui-btn-danger"><i class="layui-icon layui-icon-delete"></i>{{d.title}}</span> '
                        //<span class="layui-badge-dot"></span>
                    }]
                    ,click: function(menudata){
                        if(menudata.id === 'del'){
                            layer.confirm('真的删除行么', function(index){
                                UI.delete(data['id'], function(res){
                                    if(res.code==200){
                                        table.reload("table");
                                    }
                                });
                            //     obj.del(); //删除对应行（tr）的DOM结构
                            //     layer.close(index);
                            //     //向服务端发送删除指令
                            });
                        } else if(menudata.id === 'edit'){
                            // layer.msg('编辑操作，当前行 ID:'+ data.id);
                            UI.openLayer("{:url('edit')}?id="+data['id'], 850, 730, '#submit');
                        }
                    }
                    ,align: 'center'
                    ,style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);'
                })
            }

        });

        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create')}", 850, 730);
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
{include file="moban/bone_footer"}