{include file="moban/bone_header"}

<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">添加</button>
</div>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <span class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</span>
    <span class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</span>
</script>


<script>
layui.use(['form', 'upload', 'table', 'dropdown'], function () {
    var form = layui.form
        ,table = layui.table;

    UI.getPageTable(table, "{:url('', ['sid'=>$sid])}", [
        {field: 'key', title: '', width:80, fixed: 'left'}
        ,{field: 'img_url', title: '图片', width:140,templet: function(d){
            if(d.img_url){
                return "<img src='"+d.img_url+"' width='30' height='30'>";
            }
            return "-";
        }}
        ,{field: 'link_url', title: '链接', width:240}
        ,{field: 'sort', title: '排序', width:80,sort: true}
        ,{fixed: 'right',title:'操作', width:170, align:'center', toolbar: '#barDemo'}
    ]);

    table.on('tool(think-table)', function(obj){
        var data = obj.data;
        if(obj.event === 'del'){
            layer.confirm('真的删除行么', function(index){
                $.post("{:url('del_advertisement')}?id="+data['id'], {}, function(objPost){
                    if(objPost.code == 200){
                        layer.msg(objPost.msg, function(){
                            layer.close(index);
                            obj.del();
                        })
                    }
                    layer.msg(objPost.msg);
                }, 'json');
            });
        } else if(obj.event === 'edit'){
            UI.openLayer("{:url('edit_advertisement')}?id="+data['id'], 850, 430, '#submit', "编辑");
        }
    })

    var $ = layui.$, active = {
        create:function(){
            UI.openLayer("{:url('create_advertisement', ['sid'=>$sid])}", 850, 430, '#submit', "{:lang('create')}");
        }
    };

    $('.layui-btn-container .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

});
</script>
