{include file="moban/css"}
{include file="moban/js"}

<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">添加</button>
</div>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="temClick">
    <input type="checkbox" name="1" value="1" title="1" >
    <input type="checkbox" name="1" value="2" title="2" >
    <input type="checkbox" name="1" value="3" title="3" >
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>


<script>
    layui.use(['form', 'upload', 'table', 'dropdown'], function () {
        var form = layui.form
            ,upload = layui.upload
            ,table = layui.table
            ,dropdown = layui.dropdown;

        UI.getPageTable(table, "{:url('')}", [
            {field: 'key', title: '', width:80, fixed: 'left'}
            ,{field: 'title', title: '专题标题', width:120}
            ,{field: 'type1', title: '文章属性', width:110}
            ,{field: 'type1', title: '文章ID', width:110}
            ,{field: 'link_url', title: '链接', width:400,templet:"#temClick"}
            ,{field: 'sort', title: '排序', width:140}
            ,{fixed: 'right',title:'操作', width:120, align:'center', toolbar: '#barDemo'}
        ]);

        table.on('tool(think-table)', function(obj){
            var data = obj.data;
            if(obj.event === 'more'){
                dropdown.render({
                    elem: this
                    ,show: true
                    ,data: [{
                        title: '编辑'
                        ,id: 'edit'
                        ,templet: '<span class="layui-btn layui-btn-xs layui-btn-warm"><i class="layui-icon layui-icon-edit"></i>{{d.title}}</span> '
                    },{
                        title: '删除'
                        ,id: 'del'
                        ,templet: '<span class="layui-btn layui-btn-xs layui-btn-danger"><i class="layui-icon layui-icon-delete"></i>{{d.title}}</span> '
                    }]
                    ,click: function(menudata){
                        if(menudata.id === 'del'){
                            layer.confirm('真的删除行么', function(index){
                                $.post("{:url('del_subject_category')}?id="+data['id'], {}, function(objPost){
                                    if(objPost.code == 200){
                                        layer.msg(objPost.msg, function(){
                                            layer.close(index);
                                            obj.del();
                                        })
                                    }
                                    layer.msg(objPost.msg);
                                }, 'json');
                            });
                        } else if(menudata.id === 'edit'){
                            UI.openLayer("{:url('edit_subject_category')}?id="+data['id'], 850, 430, '#submit', "编辑");
                        }
                    }
                    ,align: 'center'
                    ,style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);'
                })
            }
        })

        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create_subject_category', ['sid'=>$sid])}", 850, 430, '#submit', "{:lang('create')}");
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
