{include file="moban/bone_header"}

<style type="text/css">
    .type2{display:none;}
</style>

<form class="layui-form " lay-filter="first" style="padding: 10px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">合作配置</label>
        <div class="layui-input-block" >
            <input type="radio" name="subject_content_type" value="1" title="配置文章属性" checked lay-filter="type" />
            <input type="radio" name="subject_content_type" value="2" title="单独配置" lay-filter="type" />
        </div>
    </div>

    <div class="layui-form-item type1">
        <div class="layui-inline">
            <label class="layui-form-label">文章属性</label>
            <div class="layui-input-block" >
                {volist name='contentProperty' id='vo'}
                <input type="checkbox" name="key[{$vo['id']}]" value="{$vo['id']}" title="{$vo['name']}" />
                {/volist}
            </div>
        </div>
    </div>

    <div class="layui-form-item type2" >
        <label class="layui-form-label">单独配置</label>
        <div class="layui-input-block" >
            <textarea name="textarea" class="layui-textarea"></textarea>
            <div class="layui-form-mid layui-word-aux">请按照格式填写，以数字逗号分隔，例：1,2,3,4,5</div>
        </div>

    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script>
    layui.use(['form','upload'], function () {
        var form = layui.form,
            upload = layui.upload;

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept = 'images';
        var upload_acceptMime = 'image/*';
        var upload_size = 3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#image_url img").attr('src', res.url);
                    $("input[name='img_url']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }

            }
            ,error: function(){
                //请求异常回调
            }
        });

        //监听提交
        form.on('submit(submit)', function (data) {
            if(data.field.subject_content_type == 2){
                if(data.field.textarea == '' || data.field.textarea == null) {
                    layer.msg("单独配置不能为空");
                    return false;
                }

                if(arr_split(data.field.textarea)){
                    return false;
                }

            }
            Api.add(data.field, function (res) {
                console.log(res);
            });
        });

        form.val('first', {
            "subject_content_type":"{$info['subject_content_type']|default=1}",
            {volist name="info['key']" id='vo'}
            "key[{$vo['key']}]":true,
            {/volist}
            "textarea":"{$info['textarea']|default=''}"
        })

        if ("{$info['subject_content_type']|default=1}" * 1 == 1) {
            $(".type2").hide();
            $(".type1").show();
        }else if("{$info['subject_content_type']|default=1}" * 1 == 2){
            $(".type1").hide();
            $(".type2").show();

        }

        form.on('radio(type)', function(data){
            var _val = data.value;
            $(".type1").hide();
            $(".type2").hide();
            $(".type" + _val).show();
        })
        //arr_split("1,2,3,sss,4,5");

        function arr_split(str){
            var _m = str.split(','), _b = false;
            try {
                $.each(_m, function (i, v) {
                    if (isNaN(v)) {
                        throw new Error("1");

                    }
                })
            } catch(e){
                if(e.message == "1"){
                    layer.msg("格式错误");
                    return false;
                }
            }
        }


    });
    //swt.prop('checked',!obj.elem.checked);
</script>
