{include file="moban/bone_header"}

<fieldset class="layui-elem-field ">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">分类</label>
                    <div class="layui-input-inline" style="width:120px;">
                        <select name="category_id" lay-filter="category_id" lay-search="">
                            <option value="">请选择</option>
                            {volist name="category" id="vo"}
                            <option value="{$vo['id']}">{$vo['name']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">来源</label>
                    <div class="layui-input-inline" style="width:120px;">
                        <select name="isweb" lay-filter="category_id" lay-search="">
                            <option value="">请选择</option>
                            {volist name='isweb' id='vo'}
                            <option value="{$vo['id']}">{$vo['title']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="toolbarDemo">
    <a class="layui-btn layui-btn-xs" lay-event="create">添加</a>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>

<script>
    layui.use(['table','form','dropdown', 'util'], function(){
        var table = layui.table
            ,form = layui.form
            ,util = layui.util
            ,dropdown = layui.dropdown;

        UI.getPageTable(table, "{:url('')}", [
            {field: 'id', title: 'ID', width:80, fixed: 'left',sort:true}
            ,{field: 'title', title: '标题', width:270}
            ,{field: 'category_name', title: '分类',width:100}
            ,{field: 'relevance_name', title: '属性', width:170}
            ,{field: 'cover_url', title: '封面图',width:90, templet:function (d) {
                if(d.cover_url != '' || d.cover_url != null){
                    return '<img src="'+d.cover_url+'" height="30" />';
                }
                return '-';
            }}
            ,{field: 'isweb', title: '来源',width:120, templet: function(d){
                switch (d.isweb * 1) {
                    {volist name='isweb' id='vo'}
                    case {$vo['id']}: return "{$vo['title']}";
                    {/volist}
                    default: return '-';
                }
            } }
            ,{field: 'read_cnt', title: '浏览量',width:100,sort:true, templet: function(d){
                if(d.read_cnt > 0){return d.read_cnt}return 0;
            }}
            ,{field: 'create_time', title: '创建时间',width:170,sort:true, templet: function(d){
                return d.create_time;
            }}
            ,{fixed: 'right',title:'操作',width:120, align:'center', toolbar: '#barDemo'}
        ], "#think-table", "auth");

        table.on('toolbar(think-table)', function(obj){
            if(obj.event==="create") {
                UI.openLayer("{:url('create')}", 750, 600, '#submit', '添加');
            }
        })

        table.on('sort(think-table)', function(obj){
            data.field.field = obj.field;
            data.field.order = obj.type;
            table.reload('table', {
                initSort: obj
                ,where:  data.field
                ,page: { curr: 1 }
            });
        })

        table.on('tool(think-table)', function(obj){
            var data=obj.data;
            if(obj.event==="more") {
                dropdown.render({
                    elem: this
                    ,show: true
                    , data: [
                        {title: '编辑',id: 'edit'}
                        ,{title: '删除',id: 'del'}
                    ]
                    , click: function(menudata) {
                        if(menudata.id === 'del'){
                            UI.delete(data['id'], function(res){
                                if(res.code==200){
                                    table.reload("table");
                                }
                            });
                        }else if(menudata.id === 'edit'){
                            UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit', '编辑');
                        }else if(menudata.id === 'home_top'){
                            UI.openLayer("{:url('homeTop')}?id="+data['id'], 600, 300, '#submit');
                        }else if(menudata.id === 'category_top'){
                            UI.openLayer("{:url('categoryTop')}?id="+data['id'], 600, 300, '#submit');
                        }
                    }
                })
            }
        });

        form.on('submit(data-search-btn)', function(data){
            data.field.field='id';
            data.field.order='desc';
            table.reload('table', {
                url: "{:url('')}",
                method:'post',
                where : data.field,
                page : {curr : 1}

            });
            return false;
        })

    });
</script>
{include file="moban/bone_footer"}