{include file="moban/bone_header"}

<fieldset class="table-search-fieldset">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nickname" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="change">变更套餐</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="continue">延期套餐</a>
</script>

<script>
    layui.use(['table', 'form'], function(){
        var table = layui.table,
            form = layui.form;
        UI.getPageTable(table, "{:url('')}", [
            {field: 'id', title: 'ID', width:60, fixed: 'left'}
            ,{field: 'head_url', title: '头像',width:60,templet: function(d){
                if(d.head_url != null && d.head_url != '') {
                    return "<img src='"+d.head_url+"' height=30 width=30 />";
                }
                return "-";
            }}
            ,{field: 'username', title: '账号/昵称',width:180,templet: function(d){
                return  d.username + '/' + d.nickname ;
            }}
            ,{field: 'title', title: '套餐',width:120}
            ,{field: 'used_flush', title: '(总/用)刷新',width:120,templet:function(d){
                return d.flush +'/'+ d.used_flush;
            }}
            ,{field: 'used_publish', title: '(总/用)发布',width:120,templet:function(d){
                return d.publish +'/'+ d.used_publish;
            }}
            ,{field: 'view_demand', title: '(总/用)需求资源名片次数',width:200,templet:function(d){
                return d.view_demand +'/'+ d.used_view_demand;
            }}
            ,{field: 'view_provide', title: '(总/用)提供资源名片次数',width:220,templet:function(d){
                return d.view_provide +'/'+ d.used_view_provide;
            }}
            ,{field: 'view_provide_give', title: '赠送',width:120,templet:function(d){
                return d.view_provide_give ;
            }}
            ,{field: 'start_time', title: '开始时间',width:170,templet: "<div>{{layui.util.toDateString(d.start_time*1000, 'yyyy-MM-dd HH:mm:ss')}}</div>"}
            ,{field: 'end_time', title: '结束时间',width:170,templet: "<div>{{layui.util.toDateString(d.end_time*1000, 'yyyy-MM-dd HH:mm:ss')}}</div>"}
            ,{field: 'remarks', title: '备注'}
            /*,{fixed: 'right',title:'操作',width:220, align:'center', toolbar: '#barDemo'}*/
        ]);

        form.on('submit(data-search-btn)', function(data){
            table.reload('table', {
                url: "{:url('')}",
                method:'post',
                where : data.field,
                page : {curr : 1}
            });
            return false;
        })


        table.on('tool(think-table)', function(obj){
            var data=obj.data;
            if(obj.event==="change"){
                UI.openLayer("{:url('change')}?id="+data['id'], 750, 600, '#submit');
            }else if(obj.event==="continue"){
                UI.openLayer("{:url('continues')}?id="+data['id'], 750, 600, '#submit');
            } else if(obj.event ==='edit') {
                UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit');
            }
        });
        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create')}");
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
{include file="moban/bone_footer"}