{include file="moban/bone_header"}

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="toolbarDemo">
    {if condition="checkAuth('adminadd')"}
    <a class="layui-btn layui-btn-sm" lay-event="create">新建</a>
    {/if}
</script>

<script type="text/html" id="barDemo">
 {{# if(d['id']!=1){ }}
  {if condition="checkAuth('adminedit')"}
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  {/if}
  {if condition="checkAuth('del_admin')"}
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  {/if}
  {if condition="!checkAuth('del_admin') and !checkAuth('adminedit')"}
    暂无任何权限
  {/if}
  {{# }else{
    return "禁止修改";
} }}
</script>

<script>
layui.use('table', function(){
  var table = layui.table;
  UI.getPageTable(table,"{:url('')}",[
    {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
    ,{field: 'name', title: '昵称', width: 120}
    ,{field: 'phone', title: '联系方式', width: 120}
    ,{field: 'username', title: '登录名', width: 120}
    ,{field: 'group_name', title: '用户组', width: 120}
    ,{fixed: 'right',title:'操作', align:'center', width: 120, toolbar: '#barDemo'}
  ], "#think-table", 'auth');

  table.on('toolbar(think-table)', function(obj) {
      if(obj.event==="create"){
          UI.openLayer("{:url('add')}", 700, 420, "#submit", "{:lang('create')}");
      }
  })

  table.on('tool(think-table)', function(obj){
        var data=obj.data;
        if(obj.event==="edit"){
            UI.openLayer("{:url('edit')}?id="+data['id'], 700, 420, "#submit");
        }else if(obj.event==='del'){
            UI.delete(data['id'],function(res){
          if(res.code==200){
            table.reload("think-table");
          }
        });
        }
  });

});
</script>
{include file="moban/bone_footer"}
