
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>后台管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

  {include file="moban/css"}
  <link rel="stylesheet" href="/static/admin_templete/style/admin.css" media="all">
</head>
<body>
<div id="LAY_app">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <!-- 头部区域 -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layadmin-flexible" lay-unselect>
          <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
          </a>
        </li>
        <!--  <li class="layui-nav-item layui-hide-xs" lay-unselect>
           <a href="http://www.layui.com/admin/" target="_blank" title="前台">
             <i class="layui-icon layui-icon-website"></i>
     l      </a>
         </li> -->
        <li class="layui-nav-item" lay-unselect>
          <a href="javascript:;" layadmin-event="refresh" title="刷新">
            <i class="layui-icon layui-icon-refresh-3 layui-anim layui-anim-rotate" data-anim="layui-anim-rotate"></i>
          </a>
        </li>
        <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
          <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
        </li> -->
      </ul>
      <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

        <!--  <li class="layui-nav-item" lay-unselect>
           <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
             <i class="layui-icon layui-icon-notice"></i>
             <span class="layui-badge-dot"></span>
           </a>
         </li> -->
        <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
          <a href="javascript:;" layadmin-event="theme">
            <i class="layui-icon layui-icon-theme"></i>
          </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
          <a href="javascript:;" layadmin-event="note">
            <i class="layui-icon layui-icon-note"></i>
          </a>
        </li> -->
        <!--  <li class="layui-nav-item layui-hide-xs" lay-unselect>
           <a href="javascript:;" layadmin-event="fullscreen">
             <i class="layui-icon layui-icon-screen-full"></i>
           </a>
         </li> -->
        <li class="layui-nav-item" lay-unselect>
          <a href="javascript:;">
            <cite>{$userInfo['name']}</cite>
          </a>
          <dl class="layui-nav-child">
            <!--<dd><a lay-href="set/user/info.html">基本资料</a></dd>-->
            <dd><a onclick="edit_passowrd()" >修改密码</a></dd>
            <hr>
            <dd data-type="logout1" class="lay-event logout" style="text-align: center;"><a>退出</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item layui-hide-xs lay-event" lay-unselect>
          <a href="javascript:;" ><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
        <li class="layui-nav-item layui-show-xs-inline-block lay-event layui-hide-sm" lay-unselect>
          <a href="javascript:;" ><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
      </ul>
    </div>
    <div class="layui-side layui-side-menu">
      <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="home/console.html">
          <span>后台管理</span>
        </div>

        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
          {volist name="menuList" id="one_level"}
          <li data-name="{$one_level['link']}" class="layui-nav-item">
            <a href="javascript:;" lay-tips="主页" lay-direction="3">
              <i class="layui-icon {$one_level['icon']}"></i>
              <cite>{$one_level['title']}</cite>
            </a>
            {if condition="!empty($one_level['_data'])"}

            <dl class="layui-nav-child">
              {volist name="one_level['_data']" id="two_level"}
              <dd data-name="{$two_level['link']}" class="">
                <a lay-href="{$two_level['link']}">{$two_level['title']}</a>
              </dd>
              {/volist}
            </dl>

            {/if}
          </li>
          {/volist}
        </ul>
      </div>
    </div>

    <!-- 页面标签 -->
    <div class="layadmin-pagetabs" id="LAY_app_tabs">
      <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
      <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
      <div class="layui-icon layadmin-tabs-control layui-icon-down">
        <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;"></a>
            <dl class="layui-nav-child layui-anim-fadein">
              <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
              <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
              <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
        <ul class="layui-tab-title" id="LAY_app_tabsheader">
          <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
        </ul>
      </div>
    </div>
    <div class="layui-body" id="LAY_app_body">
      <div class="layadmin-tabsbody-item layui-show">
        <iframe src="admin/remark/index" frameborder="0" class="layadmin-iframe"></iframe>
      </div>
    </div>

    <!-- 辅助元素，一般用于移动设备下遮罩 -->
    <div class="layadmin-body-shade" layadmin-event="shade"></div>
  </div>
</div>

{include file="moban/js"}

<script>
  $('body').height($('body')[0].clientHeight);
  function edit_passowrd()
  {
    UI.openLayer("{:url('edit')}");
  }
  layui.config({
    base: '../../static/admin_templete/'//静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index'], function () {
    var $ = layui.$, active = {
      logout1:function(){
        console.log("sadasd");
        HttpUtils.post("{:url('logout')}","",function(res){
          console.log(res);
          window.location.reload();
        });
      }
    };

    $('.lay-event').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
</script>

</body>

</html>
