{include file="moban/bone_header"}

<fieldset class="layui-elem-field">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" >用户/昵称</label>
                    <div class="layui-input-block">
                        <input type="text" name="username"  autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" >企业名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="firm_name" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>

            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="toolbarDemo">
    <a class="layui-btn layui-btn-xs layui-btn-container" lay-event="add">{:lang('create')}</a>
</script>

<script type="text/html" id="barDemo">
    {{# if(d.status == 0){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="examine">审核</a>
    {{# } }}
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">编辑</a>
</script>

<script>
    layui.use(['table', 'form'], function(){
        var table = layui.table,
            form = layui.form;

        UI.getPageTable(table, "{:url('')}", [
            {field: 'id', title: '', width:80, fixed: 'left'}
			, {field: 'username', title: '帐号/昵称', width:170, templet: function(d){
                return d.username + '/'+ d.nickname;
            }}
            , {field: 'firm_name', title: '企业名称', width: 170}
            , {field: 'status', title: '状态',width:100, templet(d){
                switch (d.status){
                    case 0: return '<span class="layui-btn-primary layui-border-blue layui-btn-xs ">未审核</span>';
                    case 1: return '通过';
                    case 2: return '<span class="layui-btn-primary layui-border-red layui-btn-xs">未通过</span>';
                    default: return '-';
                }
            }}
            , {field: 'feedback', title: '反馈结果', width: 170, templet: function(d){
                if(d.feedback){
                    return d.feedback
                }
                return '-'
            }}
            ,{fixed: 'right',title:'操作',width:120, align:'center', toolbar: '#barDemo'}
        ], "#think-table", "auto");

        form.on('submit(data-search-btn)', function(data){
            table.reload('table', {
                url: "{:url('')}",
                method:'post',
                where : data.field,
                page : {curr : 1}
            });
            return false;
        })

        table.on('toolbar(think-table)', function(obj){
            if(obj.event==="add"){
                UI.openLayer("{:url('create')}", 850, 600, '#submit', "添加");
            }
        });

        table.on('tool(think-table)', function(obj){
            var data=obj.data;
            if(obj.event==="examine"){
                UI.openLayer("{:url('examine')}?id="+data['id'], 850, 600, '#submit', "审核");
            }else if(obj.event==="edit"){
                UI.openLayer("{:url('edit')}?id="+data['id'], 850, 600, '#submit', "编辑");
            }
        });

        table.on('sort(think-table)', function(obj){
            table.reload('table', {
                initSort: obj,
                method: 'post',
                where: obj,
                sort: true,
                page: {curr: 1}
            })
        })

        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create')}", 850, 600);
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
{include file="moban/bone_footer"}