{include file="moban/bone_header"}

<!--<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">添加</button>
</div>-->

<fieldset class="table-search-fieldset">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">资源ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="resources_id" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">资源名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="resources_title" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
layui.use(['table','form'], function(){
    var table = layui.table,
        form = layui.form;

    UI.getPageTable(table, "{:url('')}", [
        {field: 'id', title: 'ID', width:80, fixed: 'left'}
        ,{field: 'resources_id', title: '资源ID', width:130}
        ,{field: 'resource_title', title: '资源名', width:130}
        ,{field: 'views', title: '浏览量', width:130,sort:true}
        ,{field: 'card_cnt', title: '投递数量', width:130,sort:true}
        // ,{fixed: 'right',title:'操作', width:140, align:'center', toolbar: '#barDemo'}
    ]);

    table.on('tool(think-table)', function(obj){
        var data=obj.data;
        if(obj.event==="edit"){
            UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit');
        }else if(obj.event==='del'){
            UI.delete(data['id'], function(res){
                if(res.code==200){
                    table.reload("table");
                }
            });
        }
    });

    var $ = layui.$, active = {
        create:function(){
            UI.openLayer("{:url('create')}");
        }
    };

    form.on('submit(data-search-btn)', function(data){
        table.reload('table', {
            url: "{:url('')}",
            method:'post',
            where : {
                resources_id: data.field.resources_id,
                resources_title: data.field.resources_title,
            },
            page : {curr : 1}
        });
        return false;
    })

    $('.layui-btn-container .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

});
</script>
{include file="moban/bone_footer"}