{include file="moban/css"}
{include file="moban/js"}

<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">字典类型</label>
        <div class="layui-input-block">
            {volist name='typeData' id='vo' key='k'}
            <input type="radio" name="data_type_no" value="{$vo['type']}" title="{$vo['title']}" {if condition="$k eq 1"}checked{/if} >
            {/volist}
        </div>
    </div>

    <div class="layui-form-item" style="display:none;" id="data_top_id" >
        <label class="layui-form-label">上级</label>
        <div class="layui-input-block">
            <select name="data_top_id" id="data_top_id_option" lay-filter="category_id" lay-search="">
                <option value="">请选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="data_name" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div id="url" {if condition="empty($data['data_icon'])"}style="display: none;"{/if} >
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <img src="{$data['data_icon']}" height="100" width="100" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" id="data_icon_label">图片</label>
        <div class="layui-input-block">
            <input type="hidden" name="data_icon" class="layui-input" />
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传icon
            </button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="sort" placeholder="排序" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script>
    //Demo
    layui.use(['form','upload'], function () {
        var form = layui.form,
            upload = layui.upload;

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept='images';
        var upload_acceptMime='image/*';
        var upload_size=3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#url").show();
                    $("#url img").attr('src', res.url);
                    $("input[name='data_icon']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });



        //监听提交
        form.on('submit(submit)', function (data) {
            Api.edit(data.field, function (res) {
                console.log(res);
            });
        });

        $("#data_top_id").hide();
        $('#data_top_id_option').html("<option value=''>请选择</option>");

        $("#test1").show();
        $("#data_icon_label").text('图片');
        $("input[name='data_icon']").attr('type', 'hidden');

        switch ("{$data['data_type_no']}"){
            case 'RESOURCES_SUBDIVIDE':
                getDataPicList("{:url('data_top_id')}?data_type=RESOURCES_TYPE", $('#data_top_id_option'), 1);
                $("#data_top_id").show();
                break;
            case 'REPORT_DETAIL_CAUSE':
                getDataPicList("{:url('data_top_id')}?data_type=REPORT_TYPE", $('#data_top_id_option'), 1);
                $("#data_top_id").show();
                break;
            case 'RESOURCE_INDUSTRY':
                getDataPicList("{:url('data_top_id')}?data_type=RESOURCES_SUBDIVIDE", $('#data_top_id_option'), 2);
                $("#data_top_id").show();
                break;
            case 'RESOURCE_INDUSTRY_SUBDIVIDE':
                getDataPicList("{:url('data_top_id')}?data_type=RESOURCE_INDUSTRY", $('#data_top_id_option'), 1);
                $("#data_top_id").show();
                break;
            case 'RESOURCE_CURRENCY':
                $("#url").hide();
                $("#test1").hide();
                $("#data_icon_label").text('图标');
                $("input[name='data_icon']").attr('type', 'text');
            default:
                break;
        }
        form.render('data_top_id', "{$data['data_top_id']}");

        form.on('radio(data_type_no)', function(data){
            $("#data_top_id").hide();
            $('#data_top_id_option').html("<option value=''>请选择</option>");

            $("#test1").show();
            $("#data_icon_label").text('图片');
            $("input[name='data_icon']").attr('type', 'hidden');

            form.render('select');
            switch (data.value){
                case 'RESOURCES_SUBDIVIDE':
                    getDataPicList("{:url('data_top_id')}?data_type=RESOURCES_TYPE", $('#data_top_id_option'), 1);
                    $("#data_top_id").show();
                    break;
                case 'REPORT_DETAIL_CAUSE':
                    getDataPicList("{:url('data_top_id')}?data_type=REPORT_TYPE", $('#data_top_id_option'), 1);
                    $("#data_top_id").show();
                    break;
                case 'RESOURCE_INDUSTRY':
                    getDataPicList("{:url('data_top_id')}?data_type=RESOURCES_SUBDIVIDE", $('#data_top_id_option'), 2);
                    $("#data_top_id").show();
                    break;
                case 'RESOURCE_INDUSTRY_SUBDIVIDE':
                    getDataPicList("{:url('data_top_id')}?data_type=RESOURCE_INDUSTRY", $('#data_top_id_option'), 1);
                    $("#data_top_id").show();
                    break;
                case 'RESOURCE_CURRENCY':
                    $("#test1").hide();
                    $("#data_icon_label").text('图标');
                    $("input[name='data_icon']").attr('type', 'text');
                default:
                    break;
            }
        });

        form.val('first', {
            "data_type_no": "{$data['data_type_no']}",
            "data_name": "{$data['data_name']}",
            "data_icon": "{$data['data_icon']}",
            "data_top_id": "{$data['data_top_id']}",
            "sort": "{$data['sort']}",
        })

        function getDataPicList(urlValue, node, type=1) {
            $.ajax({
                url: urlValue,
                dataType:'json',
                async: true,
                success:function(data) {
                    node.html("<option value=''>请选择</option>");
                    $.each(data.data, function(index, item){
                        if(type == 1){
                            if(item.data_no == "{$data['data_top_id']}"){
                                node.append(new Option(item.data_name, item.data_no, true, true));
                            } else {
                                node.append(new Option(item.data_name, item.data_no));
                            }

                        } else if(type == 2){
                            if(item.data_no == "{$data['data_top_id']}"){
                                node.append(new Option(item.data_name, item.id, true, true));
                            }else {
                                node.append(new Option(item.data_name, item.id));
                            }
                        }
                        form.render('select');
                    })
                }
            })
        }


    });
</script>
