{include file="moban/bone_header"}

<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">添加</button>
    <button class="layui-btn layui-btn-primary layui-btn-sm open-all" id="btn-expand">全部展开</button>
    <button class="layui-btn layui-btn-primary layui-btn-sm close-all" id="btn-fold">全部折叠</button>
</div>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    {{# if(d.isedit != false ){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{# } }}
</script>

<script>
layui.config({
    base: "/static/admin_templete/lib/",
    version: true
}).extend({
    treetable: 'treetable-lay/treetable',
});
layui.use(['table','treetable'], function(){
    var table = layui.table,
        treetable = layui.treetable,
        $ = layui.jquery;

    var re = treetable.render({
        treeColIndex: 1,
        treeSpid: 0,
        treeIdName: 'id',
        treePidName: 'pid',
        elem: '#think-table',
        url: "{:url('read')}",
        cols: [[
            {type: 'numbers'},
            {field: 'title', title: '权限名称',width:220},
            {field: 'data_icon', title: 'icon图标',width:120, align: "center",templet: function(d){
                if(d.pid == 3) {
                    return d.data_icon;
                } else {
                    if(d.data_icon) {
                        return "<img src='"+ d.data_icon + "?v=1.1' height='30' />";
                    }
                }
                return '-';
            }},
            {field: 'data_dark_icon', title: '深色icon图标',width:120, align: "center",templet: function(d){
                if(d.data_dark_icon) {
                    return "<img src='"+ d.data_dark_icon + "?v=1.1' height='30' />";
                }
                return '-';
            }},
            {field: 'recommend_icon', title: '推荐资源icon',width:120, align: "center",templet: function(d){
                if(d.recommend_icon) {
                    return "<img src='"+ d.recommend_icon + "?v=1.1' height='30' />";
                }
                return '-';
            }},
            {field: 'demand_icon', title: '业务需求icon',width:120, align: "center",templet: function(d){
                if(d.demand_icon) {
                    return "<img src='"+ d.demand_icon + "?v=1.1' height='30' />";
                }
                return '-';
            }},
            {field: 'sort', title: '排序',width:80, align: "center"},
            {field: 'url_keyword', title: '链接关键字',width:100},
            {templet: '#barDemo', width: 120, align: 'center', title: '操作'}
        ]],
        done: function () {
            layer.closeAll('loading');
        }
    });

    $('#btn-expand').click(function () {
        treetable.expandAll('#think-table');
    });

    $('#btn-fold').click(function () {
        treetable.foldAll('#think-table');
    });

    table.on('tool(think-table)', function(obj){
        var data=obj.data;
        if(obj.event==="edit"){
            UI.openLayer("{:url('edit')}?id="+data['id'], 950, 650, '#submit', "{:lang('edit')}");
        }else if(obj.event==='del'){
            UI.delete(data['id'], function(res){
                if(res.code==200){
                    table.reload("table");
                }
            });
        }
    });

    var $ = layui.$, active = {
        create:function(){
            UI.openLayer("{:url('create')}", 950, 650, '#submit', "{:lang('create')}");
        }
    };

    $('.layui-btn-container .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });


    });
</script>
{include file="moban/bone_footer"}