{include file="moban/bone_header"}
<style>
.welcome .layui-card {border:1px solid #f2f2f2;border-radius:5px;}
.welcome .icon {margin-right:10px;color:#1aa094;}
.welcome .icon-cray {color:#ffb800 !important;}
.welcome .icon-blue {color:#1e9fff !important;}
.welcome .icon-tip {color:#ff5722 !important;}
.welcome .layuimini-qiuck-module {text-align:center;margin-top:10px}
.welcome .layuimini-qiuck-module a i {display:inline-block;width:100%;height:60px;line-height:60px;text-align:center;border-radius:2px;font-size:30px;background-color:#F8F8F8;color:#333;transition:all .3s;-webkit-transition:all .3s;}
.welcome .layuimini-qiuck-module a cite {position:relative;top:2px;display:block;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}
.welcome .welcome-module {width:100%;height:210px;}
.welcome .panel {background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
.welcome .panel-body {padding:0px 10px 10px 10px}
.welcome .panel-title {margin-top:0;margin-bottom:0;font-size:12px;color:inherit}
.welcome .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top:.3em;}
.welcome .layui-red {color:red}
.welcome .main_btn > p {height:40px;}
.welcome .layui-bg-number {background-color:#F8F8F8;}
.welcome .layuimini-notice:hover {background:#f6f6f6;}
.welcome .layuimini-notice {padding:7px 16px;clear:both;font-size:12px !important;cursor:pointer;position:relative;transition:background 0.2s ease-in-out;}
.welcome .layuimini-notice-title,.layuimini-notice-label {padding-right:70px !important;text-overflow:ellipsis !important;overflow:hidden !important;white-space:nowrap !important;}
.welcome .layuimini-notice-title {line-height:28px;font-size:14px;}
.welcome .layuimini-notice-extra {position:absolute;top:50%;margin-top:-8px;right:16px;display:inline-block;height:16px;color:#999;}
.class-0{}
.class-1{margin-left:25px}
.class-2{margin-left:50px}
.class-3{margin-left:70px}
.class-4{display:inline-block;border: 1px solid #e0e0e0;}

h5{font-size:100%;}
.pull-right{float:right;}
h1{margin:0;padding:0;font-size: 2em;}
</style>

<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main welcome">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs6">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="layui-icon layui-icon-console" style="color:#1aa094;margin-right:4px;"></i>数据统计</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">实时</span>
                                                        <h5>顾问</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$CounselorCount}</h1>
                                                        <small>当前分类总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">实时</span>
                                                        <h5>资源记录</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$ResourceCount}</h1>
                                                        <small>当前分类总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-orange">实时</span>
                                                        <h5>广告</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$AdvertisementCount}</h1>
                                                        <small>当前分类总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-green">实时</span>
                                                        <h5>用户数量</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$UserCount}</h1>
                                                        <small>当前分类总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md12">

                        <div class="layui-card">
                            <div class="layui-card-header"><i class="layui-icon layui-icon-notice" style="color:#1aa094;margin-right:4px;"></i>操作日志</div>
                            <div class="layui-card-body layui-text">
                                {volist name="list" id="vo" }
                                <div class="layuimini-notice">
                                    <div class="layuimini-notice-title">{$vo['text']}</div>
                                    <div class="layuimini-notice-extra">{$vo['create_time']}</div>
                                </div>
                                {/volist}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon layui-icon-notice switchData" style="color:#1aa094;margin-right:4px;"></i>操作日志</div>
                    <div class="layui-card-body layui-text">
                        {volist name="statistics" id="vo" }
                            <div class="class-{$vo['level']}"><i class="layui-icon layui-icon-triangle-r switchData" data-level="{$vo['level']}" ></i>[{$vo['data_type_name']}]:{$vo['data_name']}(<font color="#009688">{$vo['count']}</font>)</div>
                            <div class="class-{$vo['level']}-child" style="display:none;" >
                            {volist name="vo['child']" id="vo1" key="k1"}
                                {if condition="$vo1['level'] eq 1"}
                                <div class="class-{$vo1['level']}"><i class="layui-icon layui-icon-triangle-r switchData" data-level="{$vo1['level']}" ></i>[{$vo1['data_type_name']}]:{$vo1['data_name']}(<font color="#009688">{$vo1['count']}</font>)</div>
                                <div class="class-{$vo1['level']}-child" style="display:none;" >
                                {volist name="vo1['child']" id="vo2"}
                                    <div class="class-{$vo2['level']}" ><i class="layui-icon layui-icon-triangle-r switchData" data-level="{$vo2['level']}" ></i>[{$vo2['data_type_name']}]:{$vo2['data_name']}(<font color="#009688">{$vo2['count']}</font>)</div>
                                    <div class="class-{$vo2['level']}-child" style="display:none;" >
                                    {volist name="vo2['child']" id="vo3"}
                                        <div class="class-{$vo3['level']}" ><i class="layui-icon layui-icon-triangle-r switchData" data-level="{$vo3['level']}" ></i>[{$vo3['data_type_name']}]:{$vo3['data_name']}(<font color="#009688">{$vo3['count']}</font>)</div>
                                        <div class="class-{$vo3['level']}-child" style="display:none;" >
                                        {volist name="vo3['child']" id="vo4" key="k"}
                                            {if condition="$k eq 1"}
                                                <div class="class-{$vo4['level']}" style="margin-left:95px;margin-top:10px;" >[{$vo4['data_type_name']}]</div>
                                            {/if}
                                            <div class="class-{$vo4['level']}" style="margin-top:10px;">{$vo4['data_name']}(<font color="#009688">{$vo4['count']}</font>)</div>
                                        {/volist}
                                        </div>
                                    {/volist}
                                    </div>
                                {/volist}
                                </div>
                                {else/}
                                {if condition="$k1 eq 1"}
                                <div class="class-{$vo1['level']}" style="margin-left:75px;margin-top:10px;" >[{$vo1['data_type_name']}]</div>
                                {/if}
                                <div class="class-{$vo1['level']}" style="margin-top:10px;">{$vo1['data_name']}(<font color="#009688">{$vo1['count']}</font>)</div>
                                {/if}
                            {/volist}
                            </div>
                        {/volist}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
layui.use('table', function(){
    var table = layui.table;
    UI.getPageTable(table, "{:url('')}", [
        {field: 'id', title: 'ID', width:80, fixed: 'left'}
        ,{field: 'name', title: 'banner名称'}
        ,{field: 'url', title: '图片', templet:function (d) {
                if(d.url != '' || d.url != null){
                    return '<img src="'+d.url+'" />';
                }
                return '-';
            }}
        ,{field: 'link_type', title: '跳转方式',templet:function(d){
                switch (d['link_type']*1){
                    case 0:return '无跳转';break;
                    case 1:return '跳转链接';break;
                    case 2:return '跳转资源';break;
                }
            }}
        ,{field: 'link_url', title: '链接'}

        ,{fixed: 'right',title:'操作', align:'center', toolbar: '#barDemo'}
    ]);
    table.on('tool(think-table)', function(obj){
        var data=obj.data;
        if(obj.event==="edit"){
            UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit');
        }else if(obj.event==='del'){
            UI.delete(data['id'], function(res){
                if(res.code==200){
                    table.reload("table");
                }
            });
        }
    });
    var $ = layui.$, active = {
        create:function(){
            UI.openLayer("{:url('create')}");
        }
    };

    $('.layui-btn-container .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

    $(".switchData").on('click', function(){
        var _this = $(this);
        var _level = _this.attr('data-level');
        console.log(_level*1+1);
        // _this.parent().attr('ddd', 'sssss');
        // _this.parent().nextAll().attr('ddd', 'sssss');
        if(_this.hasClass('layui-icon-triangle-r')){
            _this.parent().next().show();
            _this.removeClass('layui-icon-triangle-r');
            _this.addClass('layui-icon-triangle-d')
        } else {
            _this.parent().next().hide();
            _this.removeClass('layui-icon-triangle-d');
            _this.addClass('layui-icon-triangle-r')
        }

        //

    });

});
</script>
{include file="moban/bone_footer"}