{include file="moban/css"}
{include file="moban/js"}

<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">banner名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" required lay-verify="required" placeholder="菜单标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div id="url" {if condition="empty($data['url'])"}style="display: none;"{/if}>
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <img src="{$data['url']}" height="100" width="100" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <input type="hidden" name="url">
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>

            <div style="width: 100px;margin-top: 10px;">
                <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
                    <div class="layui-progress-bar" lay-percent=""></div>
                </div>
            </div>
        </div>

    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">跳转方式</label>
        <div class="layui-input-block">
            <input type="radio" name="link_type" value="0" title="无跳转" checked>
            <input type="radio" name="link_type" value="1" title="跳转链接">
            <input type="radio" name="link_type" value="2" title="跳转资源">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">跳转链接</label>
        <div class="layui-input-block">
            <input type="text" name="link_url" placeholder="跳转链接" autocomplete="off" class="layui-input">
            <div class="layui-form-mid layui-word-aux">跳转链接/资源ID</div>
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="sort" placeholder="排序" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>


<script>
    //Demo
    layui.use(['form','upload'], function () {
        var form = layui.form,
            upload = layui.upload,
            element = layui.element;

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept='images';
        var upload_acceptMime='image/*';
        var upload_size=3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#url").show();
                    $("#url img").attr('src', res.url);
                    $("input[name='url']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }

            },error: function(){
                //请求异常回调
            },progress: function(n, elem, res, index) {
                var percent = n + '%'
                element.progress('demo', percent);
            }
        });

        form.val('first', {
            'name': "{$data['name']}",
            'url': "{$data['url']}",
            'link_type': "{$data['link_type']}",
            'link_url': "{$data['link_url']}",
            'sort': "{$data['sort']}",
        });


        form.on('submit(submit)', function (data) {
            $.post("", data.field, function (res) {
                if (res.code == 200) {
                    layer.msg(res.msg,{icon:1,offset: ['100px', '50px']}, function(){
                        parent.window.location.href="{:url('index')}";
                    })
                } else {
                    layer.msg(res.msg, {icon:5,offset: ['100px', '50px']});
                }
            }, 'json');
            return false;
        });


    });
</script>
