{include file="moban/bone_header"}

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="toolbarDemo">
    <a class="layui-btn layui-btn-sm" lay-event="create">{:lang('create')}</a>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function(){
        var table = layui.table;
        UI.getPageTable(table, "{:url('')}", [
            {field: 'id', title: 'ID', width:80, fixed: 'left'}
            ,{field: 'name', title: 'banner名称'}
            ,{field: 'url', title: '图片', templet:function (d) {
                if(d.url != '' || d.url != null){
                    return '<img src="'+d.url+'" height="30" width="100" />';
                }
                return '-';
                }}
            ,{field: 'link_type', title: '跳转方式',templet:function(d){
                    switch (d['link_type']*1){
                        case 0:return '无跳转';break;
                        case 1:return '跳转链接';break;
                        case 2:return '跳转资源';break;
                    }
                }}
            ,{field: 'link_url', title: '链接/资源ID'}
            ,{fixed: 'right',title:'操作', align:'center', toolbar: '#barDemo'}
        ], "#think-table", 'auth');

        table.on('tool(think-table)', function(obj){
            var data=obj.data;
            if(obj.event==="edit"){
                UI.openLayer("{:url('edit')}?id="+data['id'], 750, 500, '#submit', "{:lang('edit')}");
            }else if(obj.event==='del'){
                UI.delete(data['id'], function(res){
                    if(res.code==200){
                        window.location.href="{:url('index')}";
                    }
                });
            }
        });

        table.on('toolbar(think-table)', function(obj){
            if(obj.event==="create"){
                UI.openLayer("{:url('create')}",750, 500, '#submit', "{:lang('create')}");
            }
        })
    });
</script>
{include file="moban/bone_footer"}