{include file="moban/css"}

{include file="moban/js"}

<!--<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">-->
<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户组名称</label>
        <div class="layui-input-block">
            <input type="text" name="group_name" placeholder="请输入用户组名称" autocomplete="off" class="layui-input" disabled checked >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <div id="test12" class="demo-tree-more"></div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>
</form>
<!--</div>-->

<script>



//Demo
layui.use(['form','tree','util','jquery'], function(){
    var form = layui.form,
        tree = layui.tree,
        util = layui.util,
        $ = layui.jquery,
        _data = {$data};

    tree.render({
        elem: '#test12'
        ,data: _data
        ,showCheckbox: true
        ,id: 'demoId'
        ,isJump: true
        ,click: function(obj){
            var data = obj.data;
            layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(data));
        }
    });

    form.val('first', {
        'group_name' : "{$groupInfo['group_name']}"
    });

    //监听提交
    form.on('submit(submit)', function(data){
        let treecheckdata  = tree.getChecked('demoId');
        let nodeIds = new Array();
        console.log(treecheckdata);
        nodeIds = getCheckedId(treecheckdata);
// 测试
        let permList = nodeIds;
        console.log("permList:"+permList);
        return false;
        Api.add(data.field, function(res){
            console.log(res);
        });
    });


    // 获取选中节点的id
    function getCheckedId(jsonObj) {
        let id = "";
        $.each(jsonObj, function (index, item) {
            if (id != "") {
                id = id + "," + item.id;
            }else {
                id = item.id;
            }
            let i = getCheckedId(item.children);
            // if (i != "") {
            //     id = id + "," + i;
            // }
        });
        return id;
    }
});


</script>