{include file="moban/bone_header"}

<fieldset class="layui-elem-field">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">称呼</label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_name" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">联系号码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="contact_number" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">来源</label>
                    <div class="layui-input-inline" style="width:70px;">
                        <select name="source" >
                            <option value="">请选择</option>
                            <option value="0">PC</option>
                            <option value="1">后台</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="toolbarDemo">
    <span class="layui-btn layui-btn-xs" lay-event="create"><i class="layui-icon layui-icon-add-1"></i>{:lang('create')}</span>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="switchTpl">
    <input type="checkbox" name="show" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="quality" {{ d.show == 1 ? 'checked' : '' }}>
</script>

<script>
    layui.use(['table','form'], function(){
        var table = layui.table,
            form = layui.form;

        UI.getPageTable(table, "{:url('')}", [
            {field: 'id', title: 'ID', width:80, fixed: 'left'}
            ,{field: 'source', title: '来源', width:80,templet:function(d){
                switch (d.source * 1) {
                    case 0: return 'pc';
                    case 1: return '后台';
                    default: return '-';
                }
            }}
            , {field: 'user_name', title: '称呼', width: 180}
            , {field: 'contact_type_name', title: '联系方式', width: 170}
            , {field: 'contact_number', title: '联系号码', width: 170}
            , {field: 'resource_type_name', title: '业务类型', width: 170}
            , {field: 'website', title: '网站', width: 170}
            , {field: 'demand', title: '需求', width: 170}
            , {field: 'ip', title: 'ip', width: 100}
            // ,{field: 'show', title: '展示(合作动态)',width:130,templet: '#switchTpl', unresize: true}
            ,{field: 'update_time', title: '更新时间',width: 170}
            ,{fixed: 'right',title:'操作',width:120, align:'center',fixed: 'right', toolbar: '#barDemo'}
        ], "#think-table", "auth");

        form.on('submit(data-search-btn)', function(data){
            table.reload('table', {
                url: "{:url('')}",
                method:'post',
                where : data.field,
                page : {curr : 1}
            });
            return false;
        })

        table.on('toolbar(think-table)', function(obj){
            if(obj.event==='create'){
                UI.openLayer("{:url('create')}", 750, 450, '#submit', "{:lang('create')}");
            }
        })

        table.on('tool(think-table)', function(obj){
            var data=obj.data;
            if(obj.event==="edit"){
                UI.openLayer("{:url('edit')}?id="+data['id'], 750, 450, '#submit', "{:lang('edit')}");
            }else if(obj.event==='del'){
                UI.delete(data['id'], function(res){
                    if(res.code==200){
                        table.reload("table");
                    }
                });
            }
        });
        var $ = layui.$;

        form.on('switch(quality)', function(obj){
            var _val = obj.elem.checked === true ? 1 : 0,
                _id = this.value;
            $.post("{:url('quality')}", {id:_id,name:this.name,val:_val}, function(obj){
                layer.msg(obj.msg, {icon:1});
            }, 'json');
            return false;
        });

    });
</script>
{include file="moban/bone_footer"}