{include file="moban/bone_header"}

<fieldset class="layui-elem-field">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">内容</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" autocomplete="off" class="layui-input" value="" >
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script>
layui.use(['table', 'form'], function(){
    var table = layui.table
        , form = layui.form;

    UI.getPageTable(table,"{:url('')}",[
        {field: 'id', title: 'ID', width: 80, fixed: 'left'}
        , {field: 'user_name', title: '操作账号', width: 110}
        , {field: 'text', title: '内容', width: 220}
        , {field: 'ip', title: '网络地址', width: 140}
        , {field: 'url', title: '访问地址', width: 220}
        , {field: 'create_time', title: '操作时间', width: 170, align:'center'}
    ], "#think-table", 'auth');

    form.on('submit(data-search-btn)', function(data){
        table.reload('table', {
            url: "{:url('')}",
            method:'post',
            where : data.field,
            page : {curr : 1}
        });
        return false;
    })

});
</script>
{include file="moban/bone_footer"}
