{include file="moban/css"}
{include file="moban/js"}


<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户ID</label>
        <div class="layui-input-block">
            <input type="text" name="uid" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            {foreach name='ty' id='tvo' key='k'}
            <input type="radio" name="ty" value="{$k}" title="{$tvo}" {if condition="$k eq 1"} checked{/if} >
            {/foreach}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">合作区域</label>
        <div class="layui-input-block">
            <input type="checkbox" name="region[|]" value="|" title="不限" lay-filter="region" lay-verType="tips" />
            {volist name='resourcesRegion' id='vo'}
            <input type="checkbox" lay-verify='region' lay-filter="region" lay-verType="tips" id="region" name="region[{$vo['data_no']}]" value="{$vo['data_no']}" title="{$vo['data_name']}">
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">合作领域</label>
        <div class="layui-input-block">
            {volist name='resourcesType' id='vo' key='k'}
            <input type="radio" name="type" lay-filter="type" value="{$vo['data_no']}" title="{$vo['data_name']}" {if condition="$k eq 1"}checked{/if} >
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">业务细分</label>
        <div class="layui-input-block" id="subdivide">
            {volist name='Subivde' id='vo'}
            <input type="checkbox" name="subdivide[{$vo['data_no']}]" value="{$vo['data_no']}" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <script id="container" name="intro" type="text/plain"></script>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="test2">多图片上传</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin: 10px;margin-left:30px;">
                预览图：
                <div class="layui-upload-list" id="demo2"></div>
                <div style="clear:both;"></div>
            </blockquote>
        </div>
    </div>



    <div class="layui-form-item" style="padding-top:10px;">
        <label class="layui-form-label">反馈信息</label>
        <div class="layui-input-block">
            <input type="text" name="feedback" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">置顶开始时间</label>
        <div class="layui-input-block">
            <input type="text" name="top_start_time" id="top_start_time" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">置顶结束时间</label>
        <div class="layui-input-block">
            <input type="text" name="top_end_time" id="top_end_time" placeholder="" autocomplete="off" class="layui-input">
            <!--<div class="layui-form-mid layui-word-aux">跳转链接/资源ID</div>-->
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">审核状态</label>
        <div class="layui-input-block">
            <input type="radio" name="auth" value="1" title="通过" checked >
            <input type="radio" name="auth" value="2" title="审核中">
            <input type="radio" name="auth" value="3" title="未通过">
            <input type="radio" name="auth" value="4" title="草稿">
            <input type="radio" name="auth" value="5" title="已关闭">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script type="text/javascript" src="/static/ueditor1433/ueditor.config.js?v=1.1.0"></script>
<script type="text/javascript" src="/static/ueditor1433/ueditor.all.js?v=1.1.0"></script>
<script type="text/javascript" src="/static/ueditor1433/ueditor.parse.js?v=1.1.0"></script>
<script type="text/javascript" src="/static/ueditor1433/lang/zh-cn/zh-cn.js?v=1.1.0"></script>

<script>
    //Demo
    layui.use(['form','upload','laydate'], function () {
        var form = layui.form,
            upload = layui.upload,
            laydate = layui.laydate;

        var ue = UE.getEditor('container', {
            initialFrameHeight:400,
            autoHeightEnabled:false,
            autoFloatEnabled:false,
            zIndex:"0"
        });

        laydate.render({elem: '#top_start_time',type: 'datetime'});
        laydate.render({elem: '#top_end_time',type: 'datetime'});

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept='images';
        var upload_acceptMime='image/*';
        var upload_size=3145728;
        var imgKey = 0 + "";
        var uploadInst = upload.render({
            elem: '#test2'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $('#demo2').append('<div style="width:100px;float:left;position:relative;margin:10px;">'
                        +'<i class="layui-icon layui-icon-close img-delete" style="color:red;border:1px solid red;position:absolute;right:0px;top:-20px;" ></i>'
                        +'<img width="100" height="100" src="'+ res.url +'"  class="layui-upload-img">'
                        + '<input type="hidden" name="img['+imgKey+']" value="'+res.url+'" />'
                        +'</div>');
                    imgKey++;

                } else {
                    layui.msg('网络问题稍后再试');
                }

            }
            ,error: function(){
                //请求异常回调
            }
        });

        $("#demo2").on('click', '.img-delete', function(){
            var _this = $(this);
            _this.parent().remove();
        })

        //监听提交
        form.on('submit(submit)', function (data) {
            data.field.intro = ue.getContent();
            var DISABLED = 'layui-btn-disabled';
            $(':button').addClass(DISABLED);
            $(':button').attr('disabled', 'disabled');
            Api.add(data.field, function (res) {
                if(res.code == 200) {
                    layer.msg(res.msg, {icon:1,offset: ['100px', '50px'],time: 50000});
                } else {
                    $(':button').removeClass(DISABLED);
                    $(':button').removeAttr('disabled');
                    layer.msg(res.msg, {icon:5,offset: ['100px', '50px'],time: 50000});
                }
            });
        });


        $(".layui-form").on("click", ".contactNameAdd", function(){
            var _this = $(this);
            var contactName = _this.parent().parent().parent().parent().children('.contactName').length;
            var contactLength = 0;//_this.parent().parent().parent().children('.contactName').length;
            var _html = '<div class="contactName" contactNameLength="'+contactName+'" style="border-bottom:1px solid #e6e6e6;border-top:1px solid #e6e6e6;padding-top:10px;">'+
                '<div class="layui-form-item">'+
                '    <div class="layui-inline">'+
                '        <label class="layui-form-label" style="">联系人</label>'+
                '        <div class="layui-input-inline">'+
                '            <input type="text" name="contactName['+contactName+']" placeholder="请输入" autoComplete="off" class="layui-input">'+
                '        </div>'+
                '    </div>'+
                '    <div class="layui-inline">'+
                '        <button type="button" class="layui-btn contactNameAdd "><i class="layui-icon layui-icon-add-1"></i></button>'+
                '        <button type="button" class="layui-btn contactNameDel layui-btn-danger"><i class="layui-icon layui-icon-delete"></i></button>'+
                '    </div>'+
                '</div>'+
                '<div class="layui-form-item contact ">\n' +
                '                    <div class="layui-inline">\n' +
                '                        <label class="layui-form-label" style="">联系方式</label>\n' +
                '                        <div class="layui-input-inline">\n' +
                '                            <select name="contact['+contactName+']['+contactLength+']" lay-filter="aihao">\n' +
                ' <option value="" >请选择</option>'+
                {volist name="DataDicData" id="vo"}
                    ' <option value="{$vo['data_no']}" >{$vo['data_name']}</option>'+
                {/volist}
                '                            </select>' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                    <div class="layui-inline">\n' +
                '                        <div class="layui-input-inline">\n' +
                '                            <input type="text" name="tel['+contactName+']['+contactLength+']" placeholder="" autocomplete="off" class="layui-input">\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                    <div class="layui-inline">\n' +
                '                        <button type="button" class="layui-btn contactDel layui-btn-danger"><i class="layui-icon layui-icon-delete"></i></button>' +
                '                        <button type="button" class="layui-btn contact-add "><i class="layui-icon layui-icon-add-1"></i></button>' +
                '                    </div>' +
                '                </div>'+
                '</div>';
            _this.parent().parent().parent().after(_html);
            form.render();
        })

        $(".layui-form").on('click', '.contact-add', function(){
            var _this = $(this);
            var contactLength = _this.parent().parent().parent().children('.contact').length;
            var contactName = _this.parent().parent().parent().attr('contactNameLength');

            var _html = '<div class="layui-form-item contact ">\n' +
                '                    <div class="layui-inline">\n' +
                '                        <label class="layui-form-label" style="">联系方式</label>\n' +
                '                        <div class="layui-input-inline">\n' +
                '                            <select name="contact['+contactName+']['+contactLength+']" lay-filter="aihao">\n' +
                ' <option value="" >请选择</option>'+
                {volist name="DataDicData" id="vo"}
                ' <option value="{$vo['data_no']}" >{$vo['data_name']}</option>'+
                {/volist}
                '                                </select>\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                    <div class="layui-inline">\n' +
                '                        <div class="layui-input-inline">\n' +
                '                            <input type="text" name="tel['+contactName+']['+contactLength+']" placeholder="" autocomplete="off" class="layui-input">\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                    <div class="layui-inline">\n' +
                '                        <button type="button" class="layui-btn contactDel layui-btn-danger"><i class="layui-icon layui-icon-delete"></i></button>' +
                '                        <button type="button" class="layui-btn contact-add "><i class="layui-icon layui-icon-add-1"></i></button>\n' +
                '\n' +
                '                    </div>\n' +
                '\n' +
                '                </div>';
            _this.parent().parent().after(_html);
            form.render();
        })

        $(".layui-form").on("click", ".contactNameDel", function(){
            var _this = $(this);
            _this.parent().parent().parent().remove();
        })

        $(".layui-form").on("click", ".contactDel", function(){
            var _this = $(this);
            _this.parent().parent().remove();
        })

        form.on('radio(type)', function(data){
            $("#subdivide").empty();
            $.post("{:url('subdivide')}", {data_top_id: data.value}, function (obj) {
                if(obj.code == 200) {
                    var _html = '';
                    $.each(obj.data.data, function (i, v) {
                        _html += "<input type='checkbox' id='subdivide' lay-verType='tips' name='subdivide[" + v.data_no + "]' value='" + v.data_no + "' title='" + v.data_name + "'>";
                    })
                    $("#subdivide").append(_html);
                    form.render();
                } else {
                    layer.msg('网络问题，请联系管理员');
                }
            })
        })

        form.on('checkbox(region)', function(data){
            if(data.value == '|'){
                form.val('first', {

                {volist name="resourcesRegion" id="vo"}
                {if condition="$vo"}
                "region[{$vo['data_no']}]":false,
                    {/if}
                {/volist}
                });
            }else {
                form.val('first', {
                    "region[|]":false,
                });
            }
        })

        form.verify({
            // region:function () {
            //     var checked = document.getElementById("region");
            //     if (checked.checked == false) {
            //         return "请至少选择一个合作区域";
            //     }
            // },
            // subdivide : function(){
            //     var checked = document.getElementById("subdivides");
            //     if (checked.checked == false) {
            //         return "请至少选择一个业务细分";
            //     }
            // }
            // otherReq: function (value, item) {
            //     var $ = layui.$;
            //     var verifyName = $(item).attr('name')
            //         , verifyType = $(item).attr('type')
            //         , formElem = $(item).parents('.layui-form')
            //         , verifyElem = formElem.find("input[name='region[*]']")
            //         , isTrue = verifyElem.is(':checked')
            //         , focusElem = verifyElem.next().find('i.layui-icon');
            //
            //         if(!isTrue || !value){
            //             //定位焦点
            //             focusElem.css(verifyType=='radio'?{"color":"#FF5722"}:{"border-color":"#FF5722"});
            //             //对非输入框设置焦点
            //             focusElem.first().attr("tabIndex","1").css("outline","0").blur(function() {
            //                 focusElem.css(verifyType=='radio'?{"color":""}:{"border-color":""});
            //             }).focus();
            //              return '必填项不能为空';
            //         }
            // }
        });

    });
</script>
