{include file="moban/css"}
{include file="moban/js"}


<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户ID</label>
        <div class="layui-input-block">
            <input type="text" name="uid" required lay-verify="required" disabled placeholder="菜单标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="菜单标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            {foreach name='ty' id='tvo' key='k'}
            <input type="radio" name="ty" value="{$k}" lay-filter="ty" title="{$tvo}" {if condition="$k eq 1"} checked{/if} >
            {/foreach}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">合作区域</label>
        <div class="layui-input-block">
            <input type="checkbox" name="region[|]" value="|" title="不限" lay-filter="region" lay-verType="tips" />
            {volist name='resourcesRegion' id='vo'}
            <input type="checkbox" id="region" lay-filter="region" lay-verify="region" lay-verType='tips' name="region[{$vo['data_no']}]" value="{$vo['data_no']}" title="{$vo['data_name']}">
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">合作领域</label>
        <div class="layui-input-block">
            {volist name='resourcesType' id='vo'}
            <input type="radio" name="type"  value="{$vo['data_no']}" lay-filter="type" title="{$vo['data_name']}">
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">业务细分</label>
        <div class="layui-input-block" id="subdivide">
            {volist name='Subivde' id='vo'}
            <input type="radio" name="subdivide" lay-filter="subdivide" value="{$vo['data_no']}" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">对应行业</label>
        <div class="layui-input-block">
            <input type="radio" name="industry" value="|" lay-filter="industry" title="不限" />
            {volist name='resourceIndustry' id='vo' key='k' }
            <input type="radio" name="industry" value="{$vo['data_no']}" lay-filter="industry" title="{$vo['data_name']}" {if condition="$k eq 1"}checked{/if} />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">行业细分</label>
        <div class="layui-input-block" id="industry_subdivide">
            {volist name='resourceIndustrySubdivide' id='vo'}
            <input type="checkbox" name="industry_subdivide[{$vo['data_no']}]" class="industry_subdivide" value="{$vo['data_no']}" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <div id="form_html"></div>

    <div class="layui-form-item" style="margin-top:30px;">
        <label class="layui-form-label">反馈信息</label>
        <div class="layui-input-block">
            <input type="text" name="feedback" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">置顶</label>
            <div class="layui-input-inline">
                <input type="text" name="top_start_time" id="top_start_time" placeholder="开始时间" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline">
                <input type="text" name="top_end_time" id="top_end_time" placeholder="结束时间" autocomplete="off" class="layui-input">
            </div>
            <!--<div class="layui-form-mid layui-word-aux">跳转链接/资源ID</div>-->
        </div>
    </div>

    <div class="layui-form-item" id="home_roll">
        <label class="layui-form-label">首页滚动</label>
        <div class="layui-input-block">
            <input type="radio" name="home_roll" value="0" title="否" checked >
            <input type="radio" name="home_roll" value="1" title="是">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">审核状态</label>
        <div class="layui-input-block">
            <input type="radio" name="auth" value="1" title="通过" checked >
            <input type="radio" name="auth" value="2" title="审核中">
            <input type="radio" name="auth" value="3" title="未通过">
            <input type="radio" name="auth" value="4" title="草稿">
            <input type="radio" name="auth" value="5" title="已关闭">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script type="text/javascript" src="/static/ueditor1433/ueditor.config.js?v=1.1.0"></script>
<script type="text/javascript" src="/static/ueditor1433/ueditor.all.js?v=1.1.0"></script>
<script type="text/javascript" src="/static/ueditor1433/ueditor.parse.js?v=1.1.0"></script>
<script type="text/javascript" src="/static/ueditor1433/lang/zh-cn/zh-cn.js?v=1.1.0"></script>

<script>
    //Demo
    layui.use(['form','upload','laydate'], function () {
        var form = layui.form,
            upload = layui.upload,
            laydate = layui.laydate;

        var ue;


        laydate.render({elem: '#top_start_time',type: 'datetime'});
        laydate.render({elem: '#top_end_time',type: 'datetime'});

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept='images';
        var upload_acceptMime='image/*';
        var upload_size=3145728;
        var imgKey = 0 + "<?php echo count($resource['img']); ?>"*1;
        var uploadInst = upload.render({
            elem: '#test2'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $('#demo2').append('<div style="width:100px;float:left;position:relative;margin:10px;">'
                        +'<i class="layui-icon layui-icon-close img-delete" style="color:red;border:1px solid red;position:absolute;right:0px;top:-20px;" ></i>'
                        +'<img width="100" height="100" src="'+ res.url +'"  class="layui-upload-img">'
                        + '<input type="hidden" name="img['+imgKey+']" value="'+res.url+'" />'
                        +'</div>');
                    imgKey++;

                } else {
                    layui.msg('网络问题稍后再试');
                }

            }
            ,error: function(){
                //请求异常回调
            }
        });

        $("#form_html").on('click', '.img-delete', function(){
            var _this = $(this);
            _this.parent().remove();
        })

        $(".layui-form").on("click", ".contactNameDel", function(){
            var _this = $(this);
            _this.parent().parent().parent().remove();
        })

        $(".layui-form").on("click", ".contactDel", function(){
            var _this = $(this);
            _this.parent().parent().remove();
        })

        //监听提交
        form.on('submit(submit)', function (data) {
            var _intro = document.getElementById('container');
            if(_intro){
                data.field.intro = ue.getContent();
            }
            Api.edit(data.field, function (res) {
                if(res.code == 200) {
                    layer.msg(res.msg, {icon:1,offset: ['100px', '50px'],time: 5000});
                } else {
                    layer.msg(res.msg, {icon:5,offset: ['100px', '50px'],time: 5000});
                }
            });
        });

        form.on('radio(ty)', function(data){
            radioTy(data.value)
        });

        radioTy("{$resource['ty']}")

        function radioTy(value){
            switch (value * 1) {
                case 1:
                    $("#home_roll").hide();
                    break;
                case 2:
                    $("#home_roll").show();
                    break;
                default:
                    break;
            }
        }

        form.on('radio(type)', function(data){
            $("#subdivide").empty();
            $.post("{:url('subdivide')}", {data_top_id: data.value}, function (obj) {
                if(obj.code == 200) {
                    var _html = '';
                    $.each(obj.data.data, function (i, v) {
                        _html += "<input type='radio' id='subdivide' lay-verType='tips' name='subdivide' value='" + v.data_no + "' title='" + v.data_name + "'>";
                    })
                    $("#subdivide").append(_html);
                    form.render();
                } else {
                    layer.msg('网络问题，请联系管理员');
                }
            })
        })

        form.on('checkbox(region)', function(data){
            if(data.value == '|'){
                form.val('first', {
                {volist name="resourcesRegion" id="vo"}
                {if condition="$vo"}
                "region[{$vo['data_no']}]":false,
                    {/if}
                {/volist}
                });
            }else {
                form.val('first', {
                    "region[|]":false,
                });
            }
        })

        form.on('radio(industry)', function(data){
            if(data.value == '|') {
                $("#industry_subdivide").empty();
            }else{
                $("#industry_subdivide").empty();
                $.post("{:url('industry_subdivide')}", {data_top_id: data.value}, function(obj){
                    if(obj.code == 200) {
                        var _html = '';
                        $.each(obj.data.sub, function (i, v) {
                            _html += "<input type='checkbox' name='industry_subdivide[" + v.data_no + "]' value='" + v.data_no + "' title='" + v.data_name + "'>";
                        })
                        $("#industry_subdivide").append(_html);
                        form.render();
                    } else {
                        layer.msg('网络问题，请联系管理员');
                    }
                }, 'json');
            }
        })

        form.on('checkbox(region)', function(data){
            if(data.value == '|'){
                form.val('first', {

                {volist name="resourcesRegion" id="vo"}
                {if condition="$vo"}
                "region[{$vo['data_no']}]":false,
                    {/if}
                {/volist}
                });
            }else {
                form.val('first', {
                    "region[|]":false,
                });
            }
        })

        form.on('radio(subdivide)', function(data){
            var _val = data.value;
            $("#form_html").empty();
            $.post("{:url('fromHtml')}", {fromId:_val}, function (obj) {
                if(obj.code == 200){
                    $("#form_html").append(obj.data.html)
                    if(obj.data.container){
                        ue = UE.getEditor('container', {
                            initialFrameHeight:400,
                            autoHeightEnabled:false,
                            autoFloatEnabled:false,
                            zIndex:"0"
                        });
                    }

                    upload.render({
                        elem: '#test7submit'
                        ,url: upload_url
                        ,accept: upload_accept
                        ,acceptMime:upload_acceptMime
                        ,size: upload_size
                        ,done: function(res){
                            if(res.code == 0) {
                                $('#demo7').append('<div style="width:100px;float:left;position:relative;margin:10px;">'
                                    +'<i class="layui-icon layui-icon-close img-delete" style="color:red;border:1px solid red;position:absolute;right:0px;top:-20px;" ></i>'
                                    +'<img width="100" height="100" src="'+ res.url +'"  class="layui-upload-img">'
                                    + '<input type="hidden" name="img['+imgKey+']" value="'+res.url+'" />'
                                    +'</div>');
                                imgKey++;
                            } else {
                                layui.msg('网络问题稍后再试');
                            }
                        }
                        ,error: function(){
                            //请求异常回调
                        }
                    });

                    upload.render({
                        elem: '#test8submit'
                        ,url: upload_url
                        ,accept: upload_accept
                        ,acceptMime:upload_acceptMime
                        ,size: upload_size
                        ,done: function(res){
                            if(res.code == 0) {
                                $('#demo8').html('<div style="width:100px;float:left;position:relative;margin:10px;">'
                                    +'<img width="100" height="100" src="'+ res.url +'"  class="layui-upload-img">'
                                    +'</div>');
                                $("input[name='logo']").val(res.url);
                            } else {
                                layui.msg('网络问题稍后再试');
                            }
                        }
                        ,error: function(){
                            //请求异常回调
                        }
                    });
                    form.render();
                    formVal();
                } else {
                    layer.msg(obj.msg);
                }
            }, 'json');

        });

        form.verify({
            // region:function () {
            //     var checked = document.getElementById("region");
            //     if (checked.checked == false) {
            //         return "请至少选择一个合作区域";
            //     }
            // },
            // subdivide : function(){
            //     var checked = document.getElementById("subdivides");
            //     if (checked.checked == false) {
            //         return "请至少选择一个业务细分";
            //     }
            // }
        })

        $("#form_html").empty();
        $.post("{:url('fromhtmlvalue')}", {resourceId:"{$resource['id']}"}, function (obj) {
            if(obj.code == 200){
                $("#form_html").append(obj.data.html)
                if(obj.data.container){
                    ue = UE.getEditor('container', {
                        initialFrameHeight:400,
                        autoHeightEnabled:false,
                        autoFloatEnabled:false,
                        zIndex:"0"
                    });
                }

                upload.render({
                    elem: '#test7submit'
                    ,url: upload_url
                    ,accept: upload_accept
                    ,acceptMime:upload_acceptMime
                    ,size: upload_size
                    ,done: function(res){
                        if(res.code == 0) {
                            $('#demo7').append('<div style="width:100px;float:left;position:relative;margin:10px;">'
                                +'<i class="layui-icon layui-icon-close img-delete" style="color:red;border:1px solid red;position:absolute;right:0px;top:-20px;" ></i>'
                                +'<img width="100" height="100" src="'+ res.url +'"  class="layui-upload-img">'
                                + '<input type="hidden" name="img['+imgKey+']" value="'+res.url+'" />'
                                +'</div>');
                            imgKey++;
                        } else {
                            layui.msg('网络问题稍后再试');
                        }
                    }
                    ,error: function(){
                        //请求异常回调
                    }
                });

                upload.render({
                    elem: '#test8submit'
                    ,url: upload_url
                    ,accept: upload_accept
                    ,acceptMime:upload_acceptMime
                    ,size: upload_size
                    ,done: function(res){
                        if(res.code == 0) {
                            $('#demo8').html('<div style="width:100px;float:left;position:relative;margin:10px;">'
                                +'<img width="100" height="100" src="'+ res.url +'"  class="layui-upload-img">'
                                +'</div>');
                            $("input[name='logo']").val(res.url);
                        } else {
                            layui.msg('网络问题稍后再试');
                        }
                    }
                    ,error: function(){
                        //请求异常回调
                    }
                });
                form.render();
                formVal();
            } else {
                layer.msg(obj.msg);
            }
        }, 'json');

        formVal();

        function formVal(){
            form.val('first', {
                'uid' : "{$resource['uid']}",
                'title' : "{$resource['title']}",
                'ty' : "{$resource['ty']}",
                'feedback':"{$resource['feedback']}",
                'top_start_time':"{$resource['top_start_time']}",
                'top_end_time':"{$resource['top_end_time']}",
                'auth':"{$resource['auth']}",
                "type":"{$resource['type']}",
                "data_no":"{$data_top_id}",
                "home_roll":"{$resource['home_roll']}",
            {volist name="$resource['region']" id="vo"}
            "region[{$vo}]":true,
                {/volist}

            "subdivide" : "{$resource['business_subdivide']}",

            {volist name="$resource['region']" id="vo"}
            {if condition="$vo"}
            "region[{$vo}]":true,
                {/if}
            {/volist}

            "industry":"{$resource['industry']}",
            {volist name="$resource['industry_subdivide']" id="vo"}
                "industry_subdivide[{$vo}]":true,
            {/volist}


            });
        }


    });
</script>
