{include file="moban/bone_header"}

<div class="layui-btn-container">
    {if condition="$examine neq 'examine'"}
    <button class="layui-btn" data-type="create">添加</button>
    {/if}
</div>

<fieldset class="table-search-fieldset">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户UID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="uid" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">用户账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="ty" lay-filter="ty" lay-search="" >
                            <option value="">请选择</option>
                            {foreach name='ty' id='vy' key='k'}
                            <option value="{$k}">{$vy}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">合作领域</label>
                    <div class="layui-input-inline">
                        <select name="type" lay-filter="data_type_no" lay-search="" >
                            <option value="">请选择</option>
                            {volist name="type" id="vt"}
                            <option value="{$vt['data_no']}">{$vt['data_name']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="auth" lay-filter="data_type_no" lay-search="" >
                            <option value="">请选择</option>
                            <option value="1">通过</option>
                            <option value="2">审核中</option>
                            <option value="3">未通过</option>
                            <option value="4">草稿</option>
                            <option value="5">已关闭</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">是否滚动</label>
                    <div class="layui-input-inline">
                        <select name="home_roll" lay-filter="data_type_no" lay-search="" >
                            <option value="">请选择</option>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">来源</label>
                    <div class="layui-input-inline">
                        <select name="types" lay-filter="data_type_no" lay-search="" >
                            <option value="">请选择</option>
                            <option value="1">前台</option>
                            <option value="2">后台</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo" >
    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>

<script type="text/html" id="home_roll">
    {{# if( d.ty*1 == 2){ }}
    <input type="checkbox" name="home_roll" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="home_roll" {{ d.home_roll == 1 ? 'checked' : '' }}>
    {{# } }}
</script>

<script>
layui.use(['table','form','dropdown'], function(){
    var table = layui.table,
        form = layui.form,
        dropdown = layui.dropdown;

    UI.getPageTable(table, "{:url('')}", [
        // {field: 'id', title: 'ID', width:80, fixed: 'left'}
        {field: 'uid', title: '用户UID', width:80}
        ,{field: 'username', title: '用户账号', width:80}
        ,{field: 'title', title: '标题', width:120}
        ,{field: 'types', title: '来源',width:70,templet:function(d){
            switch (d.types*1) {
                case 1: return '<span class="layui-btn-xs layui-border-blue ">前台</span>';break;
                case 2: return '<span class="layui-btn-xs layui-border-red">后台</span>';break;
                default:return '-';break;
            }
            }}
        ,{field: 'ty', title: '类型',width:80,templet:function(d){
                switch (d.ty*1) {
                    {foreach name='ty' id='vy' key='k'}
                    case {$k}: return '<span class="">{$vy}</span>';break;
                    {/foreach}
                    default:return '-';break;
                }
            }}
        ,{field: 'type', title: '合作领域',width:110}
        ,{field: 'region', title: '合作区域',width:110}
        ,{field: 'business_subdivide', title: '业务细分',width:140}
        {if condition="$examine eq 'examine'"}
        ,{field: 'feedback', title: '反馈信息',width:140}
        {/if}
        {if condition="$examine neq 'examine'"}
        ,{field: 'home_roll', title: '首页滚动',width:120,templet:'#home_roll'}
        {/if}
        ,{field: 'auth', title: '状态',width:80,align:'center',templet:function (d) {
                switch (d.auth*1){
                    case 1:return '<span class="layui-btn-xs layui-border-orange">通过</span>';break;
                    case 2:return '<span class="layui-btn-xs layui-border-green">审核中</span>';break;
                    case 3:return '<span class="layui-btn-xs layui-border-cyan">未通过</span>';break;
                    case 4:return '<span class="layui-btn-xs layui-border-blue">草稿</span>';break;
                    case 5:return '<span class="layui-btn-xs layui-border-black">已关闭</span>';break;
                    default:return '<span class="layui-btn-xs layui-border-gray">-</span>';break;
                }
            }}
        ,{field: 'create_time', title: '创建时间',width:140,sort:true,align:"center"}
        {if condition="$examine neq 'examine'"}
        ,{field: 'flush_time', title: '刷新时间',width:140,sort:true,align:"center",templet:function(d){
                if(d.flush_time > 10000) {
                    return "<div>" + layui.util.toDateString(d.flush_time*1000, 'yyyy-MM-dd HH:mm') + "</div>";
                }
            }}
        {/if}
        ,{fixed: 'right',title:'操作', width:90, align:'center', toolbar: '#barDemo'}
    ], '#think-table', 'auth');

    form.on('submit(data-search-btn)', function(data){
        table.reload('table', {
            url: "{:url('')}",
            method:'post',
            where : data.field,
            page : {curr : 1}
        });
        return false;
    })

    table.on('tool(think-table)', function(obj){
        var data=obj.data;
        if(obj.event==="edit"){
            UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit');
        }else if(obj.event==='del'){
            UI.delete(data['id'], function(res){
                if(res.code==200){
                    table.reload("table");
                }
            });
        } else if (obj.event === 'topping') {
            UI.openLayer("{:url('topping')}?id="+data['id'],700, 560);
        } else if (obj.event === 'flush') {
            $.post("{:url('flush')}?id=" + data['id'], data, function (res) {
                if(res.code==200){
                    layer.msg(res.msg, {icon:1},function () {
                        obj.update({'flush_time': res.data.time});
                    })
                } else {
                    layer.msg(res.msg, {icon:5});
                }
            }, 'json');
        }else if(obj.event ==='examine'){
            UI.openLayer("{:url('examine')}?id="+data['id'],700, 560);
        }else if(obj.event === 'card'){
            UI.openLayer("{:url('card')}?uid=" + data['uid'], 700, 560);
        } else if(obj.event === 'more') {
            dropdown.render({
                elem:this
                ,show:true
                ,data:[
                    {title:'编辑',id:'edit',templet:'<button type="button" class="layui-btn layui-btn-warm layui-btn-xs ">\n' +
                            '  {{d.title}}\n' +
                            '</button>'}
                    ,{title:'删除',id:'del',templet:'<button type="button" class="layui-btn layui-btn-danger layui-btn-xs ">\n' +
                            '  {{d.title}}\n' +
                            '</button>'}
                    {if condition="$examine neq 'examine'"}
                    ,{title:'刷新',id:'flush'}
                    {/if}
                    ,{title:'名片',id:'card'}
                ], click:function(menudata){
                    if(menudata.id === 'del'){
                        UI.delete(data['id'], function(res){
                            if(res.code==200){
                                table.reload("table");
                            }
                        });
                    }else if(menudata.id === 'edit'){
                        UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit');
                    }else if(menudata.id === 'flush'){
                        $.post("{:url('flush')}?id=" + data['id'], data, function (res) {
                            if(res.code==200){
                                layer.msg(res.msg, {icon:1},function () {
                                    obj.update({'flush_time': res.data.time});
                                })
                            } else {
                                layer.msg(res.msg, {icon:5});
                            }
                        }, 'json');
                    }else if(menudata.id === 'card'){
                        UI.openLayer("{:url('card')}?uid=" + data['uid'], 700, 560);
                    }
                },
                align:'right'
                ,astyle:'box-shadow:1px 1px 10px rgb(0 0 0 12%);'
            });
        }
    });

    var $ = layui.$, active = {
        create:function(){
            UI.openLayer("{:url('create')}");
        }
    };

    $('.layui-btn-container .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

    form.on('switch(home_roll)', function(obj){
        var _val = obj.elem.checked ? 1 : 0;
        $.post("{:url('roll')}?id="+this.value, {value:_val, name:this.name}, function(obj){
            if(obj.code == 200){
                layer.msg(obj.msg, {icon:1})
            }else {
                layer.msg(obj.msg, {icon:5})
            }
        }, 'json');
    });

    table.on('sort(think-table)', function(obj){
        console.log(obj.field);
        console.log(obj.type);
        table.reload('table', {
            initSort: obj
            ,where: {field: obj.field,order: obj.type}
        });
    })

});
</script>
{include file="moban/bone_footer"}