{include file="moban/bone_header"}

{if condition="$count0 eq 0 || $count1 eq 0 || $count2 eq 0"}
<div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" data-type="create">{:lang('create')}</button>
</div>
{/if}

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>


<script>
layui.use(['form', 'upload', 'table', 'dropdown'], function () {
    var table = layui.table;

    UI.getPageTable(table, "{:url('', ['sid'=>$sid])}", [
        {field: 'key', title: '', width:80, fixed: 'left'}
        ,{field: 'type', title: '类型', width:150,templet: function(d){
            switch (d.type*1){
                {volist name='type' id='vo'}
                case {$vo['id']}: return "{$vo['title']}";
                {/volist}
                default:
                    return '-';
            }
        }}
        ,{field: 'url', title: '图片', width:110,templet: function(d){
            if(d.url){
                return "<img src='"+d.url+"' height='30' width='30' />";
            }
            return '-';
        }}
        ,{field: 'alt', title: 'ALT描述', width:110, templet:function(d){
            if(d.alt){
                return d.alt;
            }
            return '-';
        }}
        ,{field: 'link_url', title: '外链', width:200, templet:function(d){
            if(d.link_url){
                return d.link_url;
            }
            return '-';
        }}
        ,{fixed: 'right',title:'操作', width:120, align:'center', toolbar: '#barDemo'}
    ], "#think-table", "auth" );

    table.on('tool(think-table)', function(obj){
        var data = obj.data;
        if(obj.event === 'del'){
            layer.confirm('真的删除行么', function(index){
                $.post("{:url('del_banner')}?id="+data['id'], {}, function(objPost){
                    if(objPost.code == 200){
                        layer.msg(objPost.msg, function(){
                            layer.close(index);
                            obj.del();
                            window.location.reload();
                        })
                    }
                    layer.msg(objPost.msg);
                }, 'json');
            });
        } else if(obj.event === 'edit'){
            UI.openLayer("{:url('edit_banner')}?id="+data['id'], 850, 430, '#submit');
        }
    })

    var $ = layui.$, active = {
        create:function(){
            UI.openLayer("{:url('create_banner', ['sid'=>$sid])}", 850, 430);
        }
    };

    $('.layui-btn-container .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

});
</script>
