{include file="moban/bone_header"}

<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">{:lang('create')}</button>
</div>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>


<script>
layui.use(['form', 'upload', 'table', 'dropdown'], function () {
    var form = layui.form
        ,upload = layui.upload
        ,table = layui.table
        ,dropdown = layui.dropdown;

    UI.getPageTable(table, "{:url('', ['sid'=>$sid])}", [
        {field: 'key', title: '', width:80, fixed: 'left'}
        ,{field: 'type', title: '类型', width:300,templet: function(d){
            switch (d.type*1){
                {volist name='type' id='vo'}
                case {$vo['id']}: return "{$vo['title']}";
                {/volist}
                default:
                    return '-';
            }
        }}
        ,{field: 'url', title: '图片', width:110,templet: function(d){
            if(d.url){
                return "<img src='"+d.url+"' height='30' width='30' />";
            }
            return '-';
        }}
        ,{field: 'alt', title: 'ALT描述', width:110, templet:function(d){
            if(d.alt){
                return d.alt;
            }
            return '-';
        }}
        ,{field: 'link_url', title: '外链', width:200, templet:function(d){
            if(d.link_url){
                return d.link_url;
            }
            return '-';
        }}
        ,{fixed: 'right',title:'操作', width:120, align:'center', toolbar: '#barDemo'}
    ]);

    table.on('tool(think-table)', function(obj){
        var data = obj.data;
        if(obj.event === 'more'){
            dropdown.render({
                elem: this
                ,show: true
                ,data: [{
                    title: '编辑'
                    ,id: 'edit'
                    ,templet: '<span class="layui-btn layui-btn-xs layui-btn-warm"><i class="layui-icon layui-icon-edit"></i>{{d.title}}</span> '
                },{
                    title: '删除'
                    ,id: 'del'
                    ,templet: '<span class="layui-btn layui-btn-xs layui-btn-danger"><i class="layui-icon layui-icon-delete"></i>{{d.title}}</span> '
                }]
                ,click: function(menudata){
                    if(menudata.id === 'del'){
                        layer.confirm('真的删除行么', function(index){
                            $.post("{:url('del_banner')}?id="+data['id'], {}, function(objPost){
                                if(objPost.code == 200){
                                    layer.msg(objPost.msg, function(){
                                        layer.close(index);
                                        obj.del();
                                    })
                                }
                                layer.msg(objPost.msg);
                            }, 'json');
                        });
                    } else if(menudata.id === 'edit'){
                        // layer.msg('编辑操作，当前行 ID:'+ data.id);
                        UI.openLayer("{:url('edit_banner')}?id="+data['id'], 850, 430, '#submit');
                    }
                }
                ,align: 'center'
                ,style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);'
            })
        }
    })

    var $ = layui.$, active = {
        create:function(){
            UI.openLayer("{:url('create_banner', ['sid'=>$sid])}", 850, 430);
        }
    };

    $('.layui-btn-container .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

});
</script>
