{include file="moban/bone_header"}

<style>
.demo-class .layui-layer-btn{border-top:1px solid #E9E7E7;}
</style>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
<!--    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>

<script>
layui.use(['table','dropdown'], function(){
    var table = layui.table
        ,dropdown = layui.dropdown;

    UI.getPageTable(table, "{:url('')}", [
        {field: 'id', title: '', width:80, fixed: 'left'}
        ,{field: 'category_name', title: '分类', width:120}
        ,{field: 'attribute', title: '属性', width:120}
        ,{field: 'source', title: '来源', width:120,}
        ,{field: 'link', title: '链接', width:300}
        ,{field: 'total', title: '数量', width:90}
        ,{fixed: 'right',title:'操作', width:80, align:'center', toolbar: '#barDemo'}
    ], "#think-table", 'auth');

    table.on('tool(think-table)', function(obj){
        var data = obj.data;
        if(obj.event==="edit") {
            UI.openLayer("{:url('edit')}?id="+data['id'], 650, 350, '#submit', "{:lang('edit')}");
        }
    });

});
</script>
{include file="moban/bone_footer"}