{include file="moban/css"}
{include file="moban/js"}

<form class="layui-form" lay-filter="first" style="padding: 20px 30px;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline"  >
                <input type="text" name="username" disabled value="{$username}" class="layui-input" style="background-color:#eee;" />
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" >名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" required lay-verify="required" autocomplete="off" class="layui-input" value="" >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width:30px;">职位</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" required lay-verify="required" class="layui-input" name="position" value="" >
            </div>
        </div>
    </div>

    <div id="url" style="display: none;">
    <label class="layui-form-label"></label>
    <div class="layui-input-block">
        <img src="" height="100" width="100" />
    </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <input type="hidden" name="logo">
        <button type="button" class="layui-btn" id="test1">
            <i class="layui-icon">&#xe67c;</i>上传头像
        </button>
    </div>

    <div id="logo_watermark" style="display: none;" >
    <label class="layui-form-label"></label>
    <div class="layui-input-block">
        <img src=" " height="100" width="100" />
    </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <input type="hidden" name="logo_watermark">
        <button type="button" class="layui-btn" id="test1_logo_watermark">
            <i class="layui-icon">&#xe67c;</i>上传水印
        </button>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">打招呼语</label>
        <div class="layui-input-inline" style="width:350px;">
            <input type="text" name="greet" autocomplete="off" class="layui-input" value="您好，这是我的名片，希望能与您深聊合作，期待回复。" >
        </div>
    </div>

    <div class="contactName" contactNameLength="0" style="border-bottom:1px solid #e6e6e6;border-top:1px solid #e6e6e6;padding-top:10px;">
        <div class="layui-form-item contact ">
            <div class="layui-inline">
                <label class="layui-form-label" >联系方式</label>
                <div class="layui-input-inline">
                    <select name="contact[]" lay-filter="aihao">
                        <option value="" >请选择</option>
                        {volist name='contactType' id='vo'}
                        <option value="{$vo['data_no']}" >{$vo['data_name']}</option>
                        {/volist}

                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="tel[]" value="" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn contact-add "><i class="layui-icon layui-icon-add-1"></i></button>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">业务类型</label>
        <div class="layui-input-block">
            {volist name="RESOURCES_TYPE" id="vo"}
            <input type="radio" name="business_type" data-id="{$vo['id']}" value="{$vo['data_no']}" title="{$vo['data_name']}" lay-filter="business_type" />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">业务细分</label>
        <div class="layui-input-block layui-form" id="business_subdivide" lay-filter="business_subdivide" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">行业类型</label>
        <div class="layui-input-block" >
            {volist name='ADVERT_ATTRIBUTE' id='vo'}
            <input type="checkbox" name="industry[{$vo['data_no']}]" value="{$vo['data_no']}" class="layui-input" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所在地区</label>
        <div class="layui-input-block" >
            {volist name="RESOURCES_REGION" id="vo"}
            <input type="checkbox" name="region[{$vo['data_no']}]" value="{$vo['data_no']}" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <fieldset class="layui-elem-field">
        <legend>业务需求</legend>
        <div style="margin: 10px 10px 10px 10px">

            <div class="layui-form-item" style="border-bottom: 1px solid red;">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:90px;">期望业务分类</label>
                    <div class="layui-input-block" style="margin-left: 120px;" >
                        <select name="">
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 90px;">期望业务地区</label>
                    <div class="layui-input-block" style="margin-left: 10px;">
                        <input type="checkbox" name="" value="" title="泰国" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:90px;">期望合作行业</label>
                    <div class="layui-input-block" style="margin-left:10px;">
                        <input type="checkbox" name="" value="" title="金融" />
                    </div>
                </div>

            </div>
        </div>
        <span class="layui-btn layui-btn-sm" style="margin: 0 0 10px 10px;" id="addYwxq">增加</span>
    </fieldset>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script>
    //Demo
    layui.use(['form','upload'], function () {
        var form = layui.form,
            upload = layui.upload;

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept='images';
        var upload_acceptMime='image/*';
        var upload_size=3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#url").show();
                    $("#url img").attr('src', res.url);
                    $("input[name='logo']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });

        upload.render({
            elem: '#test1_logo_watermark'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#logo_watermark").show();
                    $("#logo_watermark img").attr('src', res.url);
                    $("input[name='logo_watermark']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });

        $(".layui-form").on('click', '.contact-add', function(){
            var _this = $(this);
            var contactLength = _this.parent().parent().parent().children('.contact').length;
            var contactName = _this.parent().parent().parent().attr('contactNameLength');

            var _html = '<div class="layui-form-item contact ">\n' +
                '                    <div class="layui-inline">\n' +
                '                        <label class="layui-form-label" style="">联系方式</label>\n' +
                '                        <div class="layui-input-inline">\n' +
                '                            <select name="contact['+contactLength+']" lay-filter="aihao">\n' +
                ' <option value="" >请选择</option>'+
                {volist name='contactType' id='vo'}
                ' <option value="{$vo[\'data_no\']}" >{$vo[\'data_name\']}</option>'+
                {/volist}
            '                                </select>\n' +
            '                        </div>\n' +
            '                    </div>\n' +
            '                    <div class="layui-inline">\n' +
            '                        <div class="layui-input-inline">\n' +
            '                            <input type="text" name="tel['+contactLength+']" placeholder="" autocomplete="off" class="layui-input">\n' +
            '                        </div>\n' +
            '                    </div>\n' +
            '                    <div class="layui-inline">\n' +
            '                        <button type="button" class="layui-btn contactDel layui-btn-danger"><i class="layui-icon layui-icon-delete"></i></button>' +

            '\n' +
            '                    </div>\n' +
            '\n' +
            '                </div>';
            _this.parent().parent().after(_html);
            form.render();
        })

        $(".layui-form").on("click", ".contactNameDel", function(){
            var _this = $(this);
            _this.parent().parent().parent().remove();
        })

        $(".layui-form").on("click", ".contactDel", function(){
            var _this = $(this);
            _this.parent().parent().remove();
        })

        $(".search-uid").on('click', function(){
            var _val = $("input[name='uid']").val();
            $.post("{:url('get_card_uid')}", {uid:_val}, function(obj){
                if(obj.code == 200 ){
                    layer.msg(obj.msg, {icon:1});
                }else {
                    layer.msg(obj.msg, {icon:4});
                }
            }, 'json');
        })

        form.on('submit(submit)', function (data) {
            var DISABLED = 'layui-btn-disabled';
            $(':button').addClass(DISABLED);
            $(':button').attr('disabled', 'disabled');
            Api.add(data.field, function (res) {
                if(res.code == 400){
                    layer.msg(res.msg)
                }
                $(':button').removeClass(DISABLED);
                $(':button').removeAttr('disabled');
            });
        });

        form.on("radio(business_type)", function(data){
            var _this = $(this)
                , _id = _this.attr('data-id');

            resources_type(_id, '')
        })

        let _addYwxqCount = 1;
        $("#addYwxq").on('click', function(){
            if(_addYwxqCount>=5){
                layer.msg('业务需求只能添加五个', {icon:2})
                return false
            }

            _addYwxqCount++

            console.log(_addYwxqCount)
        })

        function resources_type(_id, _str=''){
            $.ajax({
                url: "{:url('subject/resources_type')}",
                dataType: 'json',
                async: true,
                data: {id: _id},
                success: function (objPost) {
                    if(objPost.code == 200){
                        var _html = "";
                        $.each(objPost.data, function(i, v){
                            _html += "<input type='checkbox' name='business_subdivide["+v.data_no+"]' value='"+v.data_no+"' title='"+v.data_name+"' />";
                        })
                        $("#business_subdivide").html(_html)
                        form.render('checkbox', 'business_subdivide');
                    }
                }
            })
        }




    });
</script>
