{include file="moban/bone_header"}
<style>
.layui-menu-body-title .layui-btn .layui-icon{border:1px solid #e0e0e0;padding:0;}
</style>

<fieldset class="layui-elem-field">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nickname" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">联系号码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="number" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">优质人脉</label>
                    <div class="layui-input-inline" style="width:70px;">
                        <select name="quality" >
                            <option value="">请选择</option>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">来源</label>
                    <div class="layui-input-inline" style="width:70px;">
                        <select name="isweb" >
                            <option value="">请选择</option>
                            <option value="1">PC</option>
                            <option value="2">后台</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">企业名称</label>
                    <diiv class="layui-input-inline">
                        <input type="text" name="firm_name" class="layui-input" />
                    </diiv>

                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="toolbarDemo">
    <button class="layui-btn layui-btn-xs" lay-event="create">添加</button>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>

<script type="text/html" id="switchTpl">
    <input type="checkbox" name="quality" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="quality" {{ d.quality == 1 ? 'checked' : '' }}>
</script>

<script>
    layui.use(['table','form','dropdown'], function(){
        var table = layui.table
            , dropdown = layui.dropdown
            , form = layui.form;

        UI.getPageTable(table, "{:url('')}", [
            {field: 'uid', title: 'UID', width:80, fixed: 'left'}
            ,{field: 'isweb', title: '来源', width:60,templet:function(d){
                switch (d.isweb*1){
                    case 1: return 'PC';
                    case 2: return '后台';
                    default: return '-';
                }
            }}
            , { field: 'name', title: '账号/昵称',width:180,templet:function (d) {
                return d.username + '/' +d.nickname ;
            }}
            , { field: 'firm_name', title: '关联企业', width: 110, sort: true, templet: function (d) {
                if(d.firm_name){
                    return d.firm_name;
                }
                return '-';
            }}
            , { field: 'verify_status', title: '身份认证', width: 90, templet: function (d) {
                if (d.firm_name) {
                    switch (d.verify_status){
                        case 0: return '未认证';
                        case 1: return '已认证';
                        default: return '-';
                    }
                }else {
                    return '-';
                }
            }}
            , { field: 'logo', title: 'logo', width: 70, templet: function (d) {
                if(d.logo) {
                    return '<img src="'+d.logo+'" height="30" width="30" />';
                }
                return '-';
            }}
            , { field: 'logo_watermark', width: 70, title: '水印', templet: function (d) {
                if(d.logo_watermark) {
                    return '<img src="'+d.logo_watermark+'" height="30" width="30" />';
                }
                return '-';
            }}
            ,{field: 'position', title: '职位',width: 170}
            ,{field: 'quality', title: '优质人脉',width: 100,templet: '#switchTpl', unresize: true}
            ,{field: 'greet', title: '默认打招呼语',width: 100}
            ,{field: 'number', title: '联系号码',width: 170}
            ,{field: 'create_time', title: '创建时间',width: 170}
            ,{fixed: 'right',title:'操作',width:90, align:'center',fixed: 'right', toolbar: '#barDemo'}
        ], "#think-table", "auth");

        form.on('submit(data-search-btn)', function(data){
            table.reload('table', {
                url: "{:url('')}",
                method:'post',
                where : data.field,
                page : {curr : 1}
            });
            return false;
        })

        table.on('toolbar(think-table)', function(obj){
            if (obj.event === "create") {
                UI.openLayer("{:url('create')}", 750, 600, '#submit', "{:lang('create')}");
            }
        })

        table.on('tool(think-table)', function(obj){
            var data = obj.data;
            if(obj.event==="more"){
                dropdown.render({
                    elem: this
                    , show: true
                    , data: [
                        {title: '业务需求', id:'business', templet: '<span class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>{{d.title}}</span>'}
                        , {title: '编辑', id:'edit', templet: '<span class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>{{d.title}}</span>'}
                        , {title: '删除', id:'del', templet: '<span class="layui-btn layui-btn-danger layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>{{d.title}}</span> '}
                    ]
                    , click: function(menudata){
                        if(menudata.id === 'del'){
                            UI.delete(data['id'], function(res){
                                if(res.code==200){
                                    table.reload("table");
                                }
                            });
                        }else if(menudata.id === 'business'){
                            UI.openLayer("{:url('business')}?id="+data['id'], 750, 600, '#submit', "业务需求");
                        }else if(menudata.id === 'edit'){
                            UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit', "{:lang('edit')}");
                        }
                    }
                });
            }
        });

        table.on('sort(think-table)', function(obj){
            table.reload('table', {
                initSort: obj
                ,where: {
                    field: obj.field
                    ,order: obj.type
                }
            });
        })
        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create')}", 750, 600, '#submit', "{:lang('create')}");
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('switch(quality)', function(obj){
            var _val = obj.elem.checked === true ? 1 : 0,
                _id = this.value;
            $.post("{:url('quality')}", {id:_id,name:this.name,val:_val}, function(obj){
                layer.msg(obj.msg, {icon:1});
            }, 'json');
            return false;
        });

    });
</script>
{include file="moban/bone_footer"}