{include file="moban/css"}
{include file="moban/js"}

<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">登录账号</label>
        <div class="layui-input-block">
            <input type="text" name="username" required lay-verify="username|required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block">
            <input type="text" name="nickname" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">登录密码</label>
        <div class="layui-input-block">
            <input type="text" name="pwd" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input type="text" name="mobile" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" required lay-verify="required|email" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">tg账号</label>
        <div class="layui-input-block">
            <input type="text" name="telegram"  placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">tg聊天id</label>
        <div class="layui-input-block">
            <input type="text" name="chat_id"  placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div id="url" {if condition="empty($UserInfo['head_url'])"}style="display: none;"{/if}>
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <img src="{$UserInfo['head_url']}" height="100" width="100" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <input type="hidden" name="head_url">
        <button type="button" class="layui-btn" id="test1">
            <i class="layui-icon">&#xe67c;</i>上传头像
        </button>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script>
    //Demo
    layui.use(['form','upload'], function () {
        var form = layui.form,
            upload = layui.upload;

        var upload_url = "{:url('admin/Upload/upload')}";
        var upload_accept='images';
        var upload_acceptMime='image/*';
        var upload_size=3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                if(res.code == 0) {
                    $("#url").show();
                    $("#url img").attr('src', res.url);
                    $("input[name='head_url']").val(res.url);
                } else {
                    layui.msg('网络问题稍后再试');
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });

        form.verify({
            username:function(value, item) {
                console.log(value);
                var _s = /^[A-Za-z0-9]+$/;
                if(!_s.test(value)){
                    return '登录账号只能数字和字母组成';
                }
            }
        })

        form.val('first', {
            'username' : "{$UserInfo['username']}",
            'nickname' : "{$UserInfo['nickname']}",
            'head_url' : "{$UserInfo['head_url']}",
            'mobile':"{$UserInfo['mobile']}",
            'email':"{$UserInfo['email']}",
            'telegram':"{$UserInfo['telegram']}",
            'chat_id':"{$UserInfo['chat_id']}",
        });

        //监听提交
        form.on('submit(submit)', function (data) {
            Api.edit(data.field, function (res) {
                if(res.code == 400){
                    layer.msg(res.msg, {icon:2});
                }
            });
        });


    });
</script>
