{include file="moban/bone_header"}

<div class="layui-btn-container">
    <button class="layui-btn" data-type="create">添加</button>
</div>

<fieldset class="table-search-fieldset">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:70px;">账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="width:70px;">昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nickname" autocomplete="off" class="layui-input" >
                    </div>
                </div>
                {if condition="$id eq 0"}
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:70px;">套餐</label>
                    <div class="layui-input-inline" style="width:110px;">
                        <select name="package_id" lay-filter="package_id" lay-search="" >
                            <option value="">请选择</option>
                            {volist name="packageAll" id='vo'}
                            <option value="{$vo['id']}">{$vo['title']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                {/if}

                <div class="layui-inline">
                    <label class="layui-form-label" style="width:80px;">来源</label>
                    <div class="layui-input-inline" style="width:90px;">
                        <select name="isweb" lay-filter="isweb" lay-search="" >
                            <option value="">请选择</option>
                            <option value="1">PC</option>
                            <option value="2">后台</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>

            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    {if condition="$id eq 0"}
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="change">变更套餐</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="continue">延期套餐</a>
    {elseif condition="$id eq 2"/}
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs layui-btn-primary layui-border-red" lay-event="reset">重置密码</a>
    {/if}
</script>

<script>
    layui.use(['table', 'form'], function(){
        var table = layui.table,
            form = layui.form;

        UI.getPageTable(table, "{:url('')}", [
            {if condition="$id eq 0"}
			{field: 'uid', title: 'UID', width:80, fixed: 'left'}
            ,{field: 'head_url', title: '头像',width:60,templet: function(d){
                if(d.head_url != null && d.head_url != '') {
                    return "<img src='"+d.head_url+"' height=30 width=30 />";
                }
                    return "-";
                }}
            ,{field: 'username', title: '账号/昵称',width:180,templet: function(d){
                return  d.username + '/' + d.nickname ;
                }}
            , {field: 'mobile', title: '手机号', width: 125}
            , {field: 'email', title: '邮箱', width: 130}
            ,{field: 'title', title: '套餐',width:120}
            ,{field: 'used_flush', title: '(总/用)刷新',width:120,templet(d){
                return d.flush  +"/"+ d.used_flush;
            }}
            ,{field: 'used_publish', title: '(总/用)发布',width:120,templet(d){
                return d.publish  +"/"+ d.used_publish;
            }}
            ,{field: 'view_demand', title: '(总/用)需求资源名片次数',width:120,templet(d){
                return d.view_demand  +"/"+  d.used_view_demand ;
            }}
            ,{field: 'view_provide', title: '(总/用)名片次数',width:120,templet(d){
                    return d.view_provide +"/"+ d.used_view_provide;
                }}
            ,{field: 'view_provide_give', title: '赠送',width:120,templet(d){
                    return d.view_provide_give ;
                }}
            ,{field: 'start_time', title: '开始时间',width:170,templet:function (d){
                if(d.start_time > 10000) {
                    return "<div>" + layui.util.toDateString(d.start_time*1000, 'yyyy-MM-dd HH:mm:ss') + "</div>";
                }
                return '-'
                }}
            ,{field: 'end_time', title: '结束时间',width:170,templet: function (d){
                    if(d.end_time > 10000) {
                        return "<div>" + layui.util.toDateString(d.end_time*1000, 'yyyy-MM-dd HH:mm:ss') + "</div>";
                    }
                    return '-'
                }}
            ,{fixed: 'right',title:'操作',width:350, align:'center', toolbar: '#barDemo'}
            {else/}

            {field: 'uid', title: 'UID', width:80, fixed: 'left'}
            ,{field: 'head_url', title: '头像',width:60,templet: function(d){
                if(d.head_url != null && d.head_url != '') {
                    return "<img src='"+d.head_url+"' height=30 width=30 />";
                }
                return "-";
            }}
            ,{field: 'isweb', title: '来源', width:80,templet:function(d){
                switch (d.isweb*1){
                    case 1: return 'PC';
                    case 2: return '后台';
                    default: return '-';
                }
            }}
            ,{field: 'username', title: '账号/昵称',width:180,templet: function(d){
                return  d.username + '/' + d.nickname ;
            }}
            , {field: 'mobile', title: '手机号', width: 125,templet:function(d){
                if(d.mobile){
                    return d.mobile;
                }
                return '-';
            }}
            , {field: 'chat_id', title: 'Tg(账号/ID)', width: 120,templet:function(d){
                if(d.telegram && d.chat_id){
                    return d.telegram + '/' + d.chat_id;
                }
                return '-';
            }}
            , {field: 'email', title: '邮箱', width: 130,templet:function(d){
                if(d.email) {
                    return d.email;
                }
                return '-';
            }}
            ,{field: 'create_time', title: '注册时间',align: 'center', width:170, sort:true}
            ,{field: 'lately_login_time', title: '登录时间',width:170,sort:true ,align:'center',templet: function (d){
                if(d.lately_login_time > 10000) {
                    return "<div>" + layui.util.toDateString(d.lately_login_time*1000, 'yyyy-MM-dd HH:mm:ss') + "</div>";
                }
                return '-'
            }}
            ,{fixed: 'right',title:'操作',width:200, align:'center', toolbar: '#barDemo'}
            {/if}
        ], "#think-table", 540);

        form.on('submit(data-search-btn)', function(data){
            table.reload('table', {
                url: "{:url('')}",
                method:'post',
                where : data.field,
                page : {curr : 1}
            });
            return false;
        })


        table.on('tool(think-table)', function(obj){
            var data=obj.data;
            if(obj.event==="change"){
                UI.openLayer("{:url('change')}?id="+data['id'], 750, 400, '#submit');
            }else if(obj.event==="continue"){
                UI.openLayer("{:url('continues')}?id="+data['id'], 750, 400, '#submit');
            } else if(obj.event ==='edit') {
                UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit');
            } else if(obj.event ==='del') {
                UI.delete(data['uid'], function(res){
                    if(res.code==200){
                        table.reload("table");
                    }
                });
            }else if(obj.event === 'reset'){
                layer.confirm("是否重置账号", {icon:3, title:'提示'}, function(index){
                    $.post("{:url('reset')}", {uid:data['uid']}, function(obj){
                        layer.msg(obj.msg, {icon:3});
                        layer.close(index);
                    }, 'json');

                })

            }
        });

        table.on('sort(think-table)', function(obj){
            table.reload('table', {
                initSort: obj,
                method: 'post',
                where: obj,
                sort: true,
                page: {curr: 1}
            })
        })

        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create')}");
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
{include file="moban/bone_footer"}