{include file="moban/bone_header"}
<script src="/style/js/echarts.min.js?v=1.1"></script>

<fieldset class="table-search-fieldset">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item" id="advert">
                {volist name="advertAll" id="vo"}
                <input type="checkbox" name="advert[{$vo['id']}]" value="{$vo['id']}" title="{$vo['title']}" >
                {/volist}
            </div>

            <div class="layui-form-item">
                <input type="checkbox" name="show_cnt" value="1" title="展示次数" >
                <input type="checkbox" name="click_pv" value="1" title="点击总次数" >
                <input type="checkbox" name="click_uv_ip" value="1" title="点击总用户数IP" >
                <input type="checkbox" name="click_uv_uid" value="1" title="点击总用户数UID" >
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">时间区间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="stime" id="stime" value="{$dataDay8}" autocomplete="off" class="layui-input" >
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="etime" id="etime" value="{$dataDay1}" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<div id="main" style="width: auto;height:600px;margin-top:20px;"></div>

<script>
    layui.use(['table','form','laydate'], function(){
        var table = layui.table
            , form = layui.form
            , $ = layui.jquery
            , laydate = layui.laydate;

        form.val("first", {
        {volist name="advertAll" id="vo" key="k"}
            {if condition="$k lt 6"}
                "advert[{$vo['id']}]": true,
            {/if}
        {/volist}
            "show_cnt": true,

        })

        laydate.render({elem: '#stime'});
        laydate.render({elem: '#etime'});

        var myChart = echarts.init(document.getElementById('main'))
            , _stime = $("input[name='stime']").val()
            , _etime = $("input[name='etime']").val();


        myChartBrr(_stime, _etime);

        form.on('submit(data-search-btn)', function(data){
            myChartBrr(data.field.stime, data.field.etime);
            return false;
        })

        /**
         * 获取参数
         */
        function myChartCheckbox(){
            var _che = $("#advert input[type='checkbox']:checked"), _arr = new Array();
            for(var i = 0; i < _che.length; i++) {
                $.each(_che, function(){
                    _arr.push($(this).val());
                });
            }
             return Array.from(new Set(_arr)).join() ;
        }

        function myChartBrr(stime, etime){
            $.ajax({
                url: "{:url('index')}"
                , cache : false
                , type: "POST"
                , dataType: "json"
                , data: {
                    stime: stime,
                    etime: etime,
                    checkbox: myChartCheckbox(),
                    show_cnt: $("input[name='show_cnt']:checked").val(),
                    click_pv: $("input[name='click_pv']:checked").val(),
                    click_uv_ip: $("input[name='click_uv_ip']:checked").val(),
                    click_uv_uid: $("input[name='click_uv_uid']:checked").val(),
                }
                , success: function(obj){
                    var _as = [], _xAxisData = [];
                    $.each(obj.data, function(i, v){
                        if(v.show_cnt){
                        _as.push({ name : v.title+"展示次数", type: 'line', data: v.show_cnt, });
                        _xAxisData.push(v.title + "展示次数");
                        }

                        if(v.click_pv) {
                            _as.push({name: v.title + "点击总次数", type: 'line', data: v.click_pv,});
                            _xAxisData.push(v.title + "点击总次数");
                        }

                        if(v.click_uv_ip) {
                            _as.push({name: v.title + "点击总用户数IP", type: 'line', data: v.click_uv_ip,});
                            _xAxisData.push(v.title + "点击总用户数IP");
                        }

                        if(v.click_uv_uid) {
                            _as.push({name: v.title + "点击总用户数UIP", type: 'line', data: v.click_uv_uid,});
                            _xAxisData.push(v.title + "点击总用户数UIP");
                        }

                    })

                    var option = {
                        title: {text: '统计图'},
                        tooltip: {trigger: 'axis'},
                        legend: {
                            data: _xAxisData
                        },
                        grid: {left: '3%', right: '4%', bottom: '3%', containLabel: true},
                        toolbox: {feature: {saveAsImage: {title: '保存为图片'}}},
                        xAxis: {type: 'category',boundaryGap: false,
                            data: obj.xAxisData
                        },
                        yAxis: {type: 'value'},
                        series: _as
                    };
                    console.log(option);
                    myChart.setOption(option);
                }
            })
        }





    });
</script>
{include file="moban/bone_footer"}