{include file="moban/bone_header"}
<div class="layui-btn-container">
  {if condition="checkAuth('menuadd')"}
  <button class="layui-btn" data-type="addMenu">添加菜单</button>
  {/if}
</div>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
  {if condition="checkAuth('menuedit')"}
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  {/if}
  {if condition="checkAuth('del_menu')"}
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  {/if}
  {if condition="!checkAuth('menuedit') and !checkAuth('del_menu')"}
    暂无任何权限
  {/if}
</script>



<script>
	layui.use('table', function(){
          var table = layui.table;
          UI.getPageTable(table,"{:url('')}",[
          	{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
          	,{field: 'title', title: '菜单名称'}
            ,{field: 'link', title: '链接'}
            ,{field: 'show', title: '显示状态',templet:function(d){
              if(d['show']==0){
                return "隐藏";
              }else if(d['show']==1){
                return "显示";
              }
            }}
          	,{fixed: 'right',title:'操作', align:'center', toolbar: '#barDemo'}
          ]);

          table.on('tool(think-table)', function(obj){
          		var data=obj.data;
          		if(obj.event==="edit"){
          			UI.openLayer("{:url('edit')}?id="+data['id'], '750', '600', '#submit', function(obj){
                      table.reload("think-table");
                    });
          		}else if(obj.event==='del'){
          			UI.delete(data['id'],function(res){
                    if(res.code==200){
                      table.reload("think-table");
                    }
                });
          		}
          });

           var $ = layui.$, active = {
            addMenu:function(){
               UI.openLayer("{:url('add')}");
            }
          };
          
          $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
          });
      });
</script>
{include file="moban/bone_footer"}