{include file="moban/bone_header"}

<div class="layui-btn-container">
  {if condition="checkAuth('MenuCreate')"}
  <button class="layui-btn" data-type="addMenu">添加菜单</button>
  {/if}
  <button class="layui-btn layui-btn-primary layui-btn-sm open-all" id="btn-expand">全部展开</button>
  <button class="layui-btn layui-btn-primary layui-btn-sm close-all" id="btn-fold">全部折叠</button>
</div>

<table id="think-table" class="layui-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
  {if condition="checkAuth('MenuEdit')"}
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  {/if}
  {if condition="checkAuth('MenuDelete')"}
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  {/if}
  {if condition="!checkAuth('MenuEdit') and !checkAuth('MenuDelete')"}
    暂无任何权限
  {/if}
</script>

<script>

  layui.config({
    base: "/static/admin_templete/lib/",
    version: true
  }).extend({
    treetable: 'treetable-lay/treetable',
  });
	layui.use(['table','treetable'], function(){
          var table = layui.table,
              treetable = layui.treetable,
          $ = layui.jquery;

      var re = treetable.render({
        treeColIndex: 1,
        treeSpid: 0,
        treeIdName: 'id',
        treePidName: 'pid',
        elem: '#think-table',
        url: "{:url('read')}",
        page: false,
        cols: [[
          {type: 'numbers'},
          {field: 'title', width:290, title: '权限名称'},
          {field: 'link', title: '菜单url'},
          {field: 'sort', title: '排序',width:80},
          {field: 'show', title: '显示',width:80,templet:function (d) {
            switch (d.show*1){
              case 0: return '<span class="layui-border-black layui-btn-xs">隐藏</span>';
              case 1: return '<span class="layui-border-blue layui-btn-xs">显示</span>';
              default: return '-';
            }
          }},
          {templet: '#barDemo', width: 120, align: 'center', title: '操作'}
        ]],
        done: function () {
          layer.closeAll('loading');
        }
      });

      $('#btn-expand').click(function () {
        treetable.expandAll('#think-table');
      });

      $('#btn-fold').click(function () {
        treetable.foldAll('#think-table');
      });

      table.on('tool(think-table)', function(obj){
            var data=obj.data;
            if(obj.event==="edit"){
                UI.openLayer("{:url('edit')}?id="+data['id'], '750', '600', '#submit', function(obj){
                  table.reload("table");
                  parent.window.location.reload();
                  window.location.reload();
                });
            }else if(obj.event==='del'){
                UI.delete(data['id'], function(res){
                if(res.code==200){
                  table.reload("table");
                  parent.window.location.reload();
                }
            });
            }
      });

    var $ = layui.$, active = {
      addMenu:function(){
        UI.openLayer("{:url('add')}");
      }
    };

    $('.layui-btn-container .layui-btn').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
});
</script>
{include file="moban/bone_footer"}