{include file="moban/css"}
{include file="moban/js"}

<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">企业名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业logo</label>
        <div class="layui-input-block">
            <input type="text" name="logo" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业规模</label>
        <div class="layui-input-block">
            <input type="text" name="scale" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">业务类型</label>
        <div class="layui-input-block">
            <input type="text" name="business_type" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">行业类型</label>
        <div class="layui-input-block">
            <input type="text" name="industry" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业地区</label>
        <div class="layui-input-block">
            <input type="text" name="region" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业介绍</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入" name="intro" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">宣传视频</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入" name="intro" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>


<script>
layui.use(['form','upload'], function () {
    var form = layui.form,
        upload = layui.upload;

    var upload_url = "{:url('admin/Upload/upload')}";
    var upload_accept='images';
    var upload_acceptMime='image/*';
    var upload_size=3145728;
    var uploadInst = upload.render({
        elem: '#test1'
        ,url: upload_url
        ,accept: upload_accept
        ,acceptMime:upload_acceptMime
        ,size: upload_size
        ,done: function(res){
            if(res.code == 0) {
                $("#url").show();
                $("#url img").attr('src', res.url);
                $("input[name='url']").val(res.url);
            } else {
                layui.msg('网络问题稍后再试');
            }

        }
        ,error: function(){
            //请求异常回调
        }
    });

    //监听提交
    form.on('submit(submit)', function (data) {
        Api.add(data.field, function (res) {
            console.log(res);
        });
    });


});
</script>
