{include file="moban/css"}
{include file="moban/js"}

<style>
.layui-upload-img {width: 92px;height: 92px;}
</style>

<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">企业名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业logo</label>
        <input type="hidden" name="logo" />
        <div class="layui-input-inline">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>
            </div>
        </div>

        <div class="layui-input-inline">
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="demo1">
                <p id="demoText"></p>
            </div>
            <div style="width: 95px;">
                <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
                    <div class="layui-progress-bar" lay-percent=""></div>
                </div>
            </div>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业规模</label>
        <div class="layui-input-block">
            <input type="text" name="scale" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">业务类型</label>
        <div class="layui-input-block">
            {volist name='RESOURCES_TYPE' id='vo'}
            <input type="checkbox" name="business_type[{$vo['id']}]" value="{$vo['id']}" class="layui-input" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">行业类型</label>
        <div class="layui-input-block">
            {volist name='ADVERT_ATTRIBUTE' id='vo'}
            <input type="checkbox" name="industry[{$vo['id']}]" value="{$vo['id']}" class="layui-input" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业地区</label>
        <div class="layui-input-block">
            {volist name='RESOURCES_REGION' id='vo'}
            <input type="checkbox" name="region[{$vo['id']}]" value="{$vo['id']}" class="layui-input" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业介绍</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入" name="intro" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">宣传视频</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入" name="publicity_video" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>


<script>
layui.use(['form','upload'], function () {
    var form = layui.form,
        upload = layui.upload;

    var upload_url = "{:url('admin/Upload/upload')}";
    var upload_accept = 'images';
    var upload_acceptMime = 'image/*';
    var upload_size = 3145728;
    var uploadInst = upload.render({
        elem: '#test1'
        ,url: upload_url
        ,accept: upload_accept
        ,acceptMime:upload_acceptMime
        ,size: upload_size
        ,done: function(res){
            if(res.code == 0) {
                $("#url").show();
                $("#url img").attr('src', res.url);
                $("input[name='url']").val(res.url);
            } else {
                layui.msg('网络问题稍后再试');
            }

        }
        ,error: function(){
            //请求异常回调
        }
    });

    form.val('first', {
        "name": "{$info['name']}",
        "logo": "{$info['logo']}",
        "scale": "{$info['scale']}",
        "business_type": "{$info['business_type']}",
        "industry": "{$info['industry']}",
        "region": "{$info['region']}",
        "intro": "{$info['intro']}",
        "publicity_video": "{$info['publicity_video']}",

    })

    //监听提交
    form.on('submit(submit)', function (data) {
        Api.edit(data.field, function (res) {
            console.log(res);
        });
    });


});
</script>
