{include file="moban/css"}
{include file="moban/js"}

<style>
.layui-upload-img {width: 92px;height: 92px;}
</style>

<form class="layui-form" lay-filter="first" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">企业名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业logo</label>
        <input type="hidden" name="logo" />
        <div class="layui-input-inline">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1"><i class="layui-icon"></i>上传文件</button>
            </div>
        </div>

        <div class="layui-input-inline">
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="demo1" {if condition="$info['logo']"} src="{$info['logo']}" {/if} >
                <p id="demoText"></p>
            </div>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业规模</label>
        <div class="layui-input-block">
            <select name="scale" >
                <option value="">请选择</option>
                {volist name="FIRM_SCALE" id='sc'}
                <option value="{$sc['data_no']}">{$sc['data_name']}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">业务类型</label>
        <div class="layui-input-block">
            {volist name='RESOURCES_TYPE' id='vo'}
            <input type="checkbox" name="business_type[{$vo['data_no']}]" value="{$vo['data_no']}" class="layui-input" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">行业类型</label>
        <div class="layui-input-block">
            {volist name='ADVERT_ATTRIBUTE' id='vo'}
            <input type="checkbox" name="industry[{$vo['data_no']}]" value="{$vo['data_no']}" class="layui-input" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业地区</label>
        <div class="layui-input-block">
            {volist name='RESOURCES_REGION' id='vo'}
            <input type="checkbox" name="region[{$vo['data_no']}]" value="{$vo['data_no']}" class="layui-input" title="{$vo['data_name']}" />
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">企业介绍</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入" id="container" name="intro" class="layui-textarea">{$info['intro']}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">宣传视频</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入" name="publicity_video" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>

</form>

<script type="text/javascript" src="/static/ueditor1433/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor1433/ueditor.all.js"></script>
<script type="text/javascript" src="/static/ueditor1433/lang/zh-cn/zh-cn.js"></script>
<script>
    var ue = UE.getEditor('container', {
        initialFrameWidth: 'auto',    //初始化宽度
        initialFrameHeight: 300,   //初始化高度
        maximumWords: 1000,         //最大长度限制
        autoHeightEnabled: false,  //禁止自动长高
        autoFloatEnabled: false,    //禁止工具条漂浮
        zIndex: "0"
    });
</script>

<script>
layui.use(['form','upload'], function () {
    var form = layui.form,
        upload = layui.upload;

    var upload_url = "{:url('admin/Upload/upload')}";
    var upload_accept = 'images';
    var upload_acceptMime = 'image/*';
    var upload_size = 3145728;
    var uploadInst = upload.render({
        elem: '#test1'
        ,url: upload_url
        ,accept: upload_accept
        ,acceptMime:upload_acceptMime
        ,size: upload_size
        ,done: function(res){
            if(res.code == 0) {
                $("#demo1").attr('src', res.url);
                $("input[name='logo']").val(res.url);
            } else {
                layui.msg('网络问题稍后再试');
            }

        }
        ,error: function(){
            //请求异常回调
        }
    });

    form.val('first', {
        "name": "{$info['name']}",
        "logo": "{$info['logo']}",
        "scale": "{$info['scale']}",
        {volist name="$info['business_type']" id="ty"}
        "business_type[{$ty}]": true,
        {/volist}
        {volist name="$info['industry']" id="ty"}
        "industry[{$ty}]": true,
        {/volist}
        {volist name="$info['region']" id="ty"}
        "region[{$ty}]": true,
        {/volist}
        "publicity_video": "{$info['publicity_video']}",
    })

    //监听提交
    form.on('submit(submit)', function (data) {
        data.field.intro = ue.getContent();
        Api.edit(data.field, function (res) {
            console.log(res);
        });
    });


});
</script>
