{include file="moban/bone_header"}



<fieldset class="layui-elem-field">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">企业名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="toolbarDemo">
    <button class="layui-btn layui-btn-xs layui-btn-normal"lay-event="add">添加</button>
</script>

<script type="text/html" id="barDemo">
    {{# if(d.status == 1){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="examine">审核</a>
    {{# } }}
    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>

<script>
    layui.use(['table', 'form', 'dropdown'], function(){
        var table = layui.table
            , dropdown = layui.dropdown
            , form = layui.form;

        UI.getPageTable(table, "{:url('')}", [
            {field: 'id', title: 'ID', width:80, fixed: 'left'}
            , {field: 'name', title: '企业名称', width: 100,}
            , {field: 'logo', title: 'logo', width: 70, align:'center', templet: function(d){
               if(d.logo){
                   return "<img src='"+d.logo+"?1.1' width='30' height='30' />";
               }
               return '-';
            }}
            , {field: 'scale', title: '企业规模', width: 120, templet: function(d){
                if(d.scale){
                    return d.scale;
                }
                return '-';
            }}
            , {field: 'business_type', title: '业务类型', width: 220, templet: function(d){
                if(d.business_type){
                    return d.business_type;
                }
                return '-';
            }}
            , {field: 'industry', title: '行业类型', width: 130, templet: function(d){
                if(d.industry){
                    return d.industry;
                }
                return '-';
            }}
            , {field: 'region', title: '企业地区', width: 130, templet: function(d){
                if(d.region){
                    return d.region;
                }
                return '-';
            }}
            , {field: 'status', title: '审核状态',width: 90, templet: function(d){
                switch (d.status*1){
                    case 0: return '删除';
                    case 1: return "审核中";
                    case 2: return "正常";
                    case 3: return "审核失败";
                    default: return "-";
                }
            }}
            , {fixed: 'right', title: '操作', width: 140, align: 'center', toolbar: '#barDemo'}
        ]);

        table.on("toolbar(think-table)", function(obj){
            var data = obj.data
                , layEvent = obj.event;
            if(layEvent === 'add'){
                UI.openLayer("{:url('create')}", 750, 600, '#submit', "{:lang('create')}");
            }
        })

        table.on('tool(think-table)', function(obj){
            var data = obj.data;
            if(obj.event==="more"){
                dropdown.render({
                    elem: this
                    , show: true
                    , data: [
                        {title:'编辑', id:'edit', templet: '<span class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>{{d.title}}</span>'}
                        ,{title:'删除', id:'del', templet: '<span class="layui-btn layui-btn-danger layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>{{d.title}}</span>'}
                    ]
                    , click: function(menudata){
                        if(menudata.id === 'edit'){
                            UI.openLayer("{:url('edit')}?id="+data['id'], 750, 600, '#submit', "{:lang('edit')}");
                        }else if(menudata.id === 'del'){
                            UI.delete(data['id'], function(res){
                                if(res.code==200){
                                    table.reload("table");
                                }
                            });
                        }
                    }
                })
            }else if(obj.event==='examine'){
                UI.openLayer("{:url('examine')}", 750, 600, "#submit", '审核');
            }
        });

        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create')}", 750, 600, "#submit", "{:lang('create')}");
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('submit(data-search-btn)', function(data){
            table.reload('table', {
                url: "{:url('')}",
                method:'post',
                where : data.field,
                page : {curr : 1}

            });
            return false;
        })

    });
</script>
{include file="moban/bone_footer"}