{include file="moban/bone_header"}

<fieldset class="layui-elem-field">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">企业名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="">审核状态</label>
                    <div class="layui-input-inline" style="width: 120px;">
                        <select name="status">
                            <option value="">请选择</option>
                            <option value="1">未审核</option>
                            <option value="2">已过审</option>
                            <option value="3">未通过</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="">来源</label>
                    <div class="layui-input-inline" style="width: 120px;">
                        <select name="isweb">
                            <option value="">请选择</option>
                            {volist name="web_type" id="vo" key="k"}
                                <option value="{$k}">{$vo}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="data-search-btn" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="toolbarDemo">
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="create">{:lang('create')}</a>
</script>

<script type="text/html" id="barDemo">
    {{# if(d.status == 1){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="examine">审核</a>
    {{# } }}
    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>

<script>
    layui.use(['table', 'form', 'dropdown'], function(){
        var table = layui.table
            , dropdown = layui.dropdown
            , form = layui.form;

        UI.getPageTable(table, "{:url('')}", [
            {field: 'id', title: 'ID', width:80, fixed: 'left'}
            , {field: 'logo', title: 'logo', width: 70, align:'center', templet: function(d){
                    if(d.logo){
                        return "<img src='"+d.logo+"?1.1' width='30' height='30' />";
                    }
                    return '-';
                }}
            , {field: 'name', title: '企业名称', width: 100,}
            , {field: 'region', title: '企业地区', width: 130, templet: function(d){
                if(d.region){
                    return d.region;
                }
                return '-';
            }}
            , {field: 'scale', title: '企业规模', width: 120, templet: function(d){
                if(d.scale){
                    return d.scale;
                }
                return '-';
            }}
            , {field: 'business_type', title: '业务类型', width: 140, templet: function(d){
                if(d.business_type){
                    return d.business_type;
                }
                return '-';
            }}
            , {field: 'industry', title: '行业类型', width: 130, templet: function(d){
                if(d.industry){
                    return d.industry;
                }
                return '-';
            }}
            , {field: 'userZ', title: '企业员工', width: 110, templet: function(d){
                return d.userZ + '/' + d.userC;
            }}
            , {field: 'isweb', title: '来源', width: 80, templet: function(d){
                switch (d.isweb){
                    {volist name="web_type" id="vo" key="k"}
                    case {$k} : return "{$vo}";
                    {/volist}
                    default: return '-';
                }
                    return d.isweb;
            }}
            , {field: 'create_time', title: '创建时间', width: 170}
            , {field: 'status', title: '审核状态',width: 90, templet: function(d){
                switch (d.status*1){
                    case 0: return '删除';
                    case 1: return "未审核";
                    case 2: return "已过审";
                    case 3: return "未通过";
                    default: return "-";
                }
            }}
            , {fixed: 'right', title: '操作', width: 140, align: 'center', toolbar: '#barDemo'}
        ], "#think-table", "auto");

        table.on("toolbar(think-table)", function(obj){
            var data = obj.data
                , layEvent = obj.event;
            if(layEvent === 'create'){
                UI.openLayer("{:url('create')}", 750, 600, '#submit', "{:lang('create')}");
            }
        })

        table.on('tool(think-table)', function(obj){
            var data = obj.data
                , _data ;


            if(obj.event==="more"){
                if(data.isweb == 1){
                    _data =  [
                        {title:'编辑', id:'edit', templet: '<span class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>{{d.title}}</span>'}
                        ,{title:'删除', id:'del', templet: '<span class="layui-btn layui-btn-danger layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>{{d.title}}</span>'}
                        ,{title:'创建人名片', id:'card', templet: '<span class="layui-btn layui-btn-normal layui-btn-xs"><i class="layui-icon layui-icon-username"></i>{{d.title}}</span>'}
                    ];
                }else{
                    _data =  [
                        {title:'编辑', id:'edit', templet: '<span class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>{{d.title}}</span>'}
                        ,{title:'删除', id:'del', templet: '<span class="layui-btn layui-btn-danger layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>{{d.title}}</span>'}
                    ];
                }
                console.log();
                dropdown.render({
                    elem: this
                    , show: true
                    , data: _data
                    , click: function(menudata){
                        if(menudata.id === 'edit'){
                            UI.openLayer("{:url('edit')}?id=" + data['id'], 750, 600, '#submit', "{:lang('edit')}");
                        }else if(menudata.id === 'del'){
                            UI.delete(data['id'], function(res){
                                if(res.code==200){
                                    table.reload("table");
                                }
                            });
                        }else if(menudata.id === 'card'){
                            layer.open({
                                type: 2,
                                anim: 2,
                                title: '创建人名片',
                                area: ['750px', '600px'],
                                btn: ['关闭'],
                                yes: function (index, layero) {
                                    layer.close(index)
                                },
                                content: "{:url('resource/card')}?uid=" + data['create_id'],
                                end: function () {}
                            });

                        }
                    }
                })
            }else if(obj.event==='examine'){
                UI.openLayer("{:url('examine')}?id=" + data['id'], 750, 600, "#submit", '审核');
            }
        });

        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create')}", 750, 600, "#submit", "{:lang('create')}");
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('submit(data-search-btn)', function(data){
            table.reload('table', {
                url: "{:url('')}",
                method:'post',
                where : data.field,
                page : {curr : 1}

            });
            return false;
        })

    });
</script>
{include file="moban/bone_footer"}