{include file="moban/bone_header"}

<fieldset class="table-search-fieldset">
    <legend>搜索信息</legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" lay-filter="first" action="">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nick_name" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">联系方式</label>
                    <div class="layui-input-inline">
                        <select name="contact_type" lay-filter="ty" lay-search="" >
                            <option value="">请选择</option>
                            {volist name='contact' id='vo'}
                            <option value="{$vo['data_no']}">{$vo['data_name']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">需求类型</label>
                    <div class="layui-input-inline">
                        <select name="ty" lay-filter="data_type_no" lay-search="" >
                            <option value="">请选择</option>
                            {foreach name='ty' id='vo' key='k'}
                            <option value="{$k}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">资源业务</label>
                    <div class="layui-input-inline">
                        <select name="resource_type" lay-filter="data_type_no" lay-search="" >
                            <option value="">请选择</option>
                            {volist name='resources' id='vo'}
                            <option value="{$vo['data_no']}">{$vo['data_name']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">操作</label>
                    <div class="layui-input-inline">
                        <select name="operat" lay-filter="data_type_no" lay-search="" >
                            <option value="">请选择</option>
                            {volist name='operatAll' id='vo'}
                            <option value="{$vo['id']}">{$vo['title']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="think-table" lay-filter="think-table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>

<script>
    layui.use(['table','form'], function(){
        var table = layui.table,
            form = layui.form;

        UI.getPageTable(table, "{:url('')}", [
            {field: 'id', title: 'ID', width:80, fixed: 'left'}
            ,{field: 'nick_name', title: '昵称', width:140,}
            ,{field: 'ip', title: 'ip地址', width:140}
            ,{field: 'contact_name', title: '联系方式', width:140,}
            ,{field: 'contact_number', title: '联系号码', width:140}
            ,{field: 'ty', title: '需求类型', width:90,templet:function(d){
                switch (d.ty * 1) {
                    {foreach name='ty' id='vy' key='k'}
                    case {$k}: return '<span class="">{$vy}</span>';break;
                    {/foreach}
                    default:return '-';break;
                }
            }}
            ,{field: 'resource_name', title: '资源业务', width:90}
            ,{field: 'operat', title: '操作结果', width:140,templet:function(d){
                switch (d.operat*1){
                    {volist name="operatAll" id="vl"}
                    case {$vl['id']}: return '{$vl["title"]}';
                    {/volist}
                    default: return '-';
                }
            }}
            ,{field: 'remarks', title: '备注', width:140,}
            ,{field: 'create_time', title: '提交时间', width: 170}
            ,{fixed: 'right',title:'操作', width:80, align:'center', toolbar: '#barDemo'}
        ]);

        table.on('tool(think-table)', function(obj){
            var data=obj.data;
            if(obj.event==="edit"){
                UI.openLayer("{:url('edit')}?id="+data['id'], 600, 330, '#submit');
            }else if(obj.event==='del'){
                UI.delete(data['id'], function(res){
                    if(res.code==200){
                        table.reload("table");
                    }
                });
            }
        });

        var $ = layui.$, active = {
            create:function(){
                UI.openLayer("{:url('create')}", 600, 450);
            }
        };

        $('.layui-btn-container .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('submit(data-search-btn)', function(data){
            table.reload('table', {
                url: "{:url('')}",
                method:'post',
                where : data.field,
                page : {curr : 1}
            });
            return false;
        })

    });
</script>
{include file="moban/bone_footer"}